@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//hello.myfonts.net/count/2d78f7");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.hero-content:before,
.hero-content .give-button:before,
.entry-content:before,
.top-menu-wrap:before,
.page-template-page-locations .locations-list:before,
.life-groups:before,
.related-posts:before,
.clearfix:after, .hero-content:after, .hero-content .give-button:after, .entry-content:after, .top-menu-wrap:after, .page-template-page-locations .locations-list:after, .life-groups:after, .related-posts:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after, .hero-content:after, .hero-content .give-button:after, .entry-content:after, .top-menu-wrap:after, .page-template-page-locations .locations-list:after, .life-groups:after, .related-posts:after {
  clear: both;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

html {
  margin-top: 0px !important;
}

body,
button,
input,
select,
textarea {
  color: #666666;
  font-size: 100%;
  line-height: 1.125em;
  font-family: sans-serif;
  font-family: "museo-sans", sans-serif;
}

body {
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "museo-slab", serif;
}

h2 {
  font-size: 2.3em;
  margin-bottom: .6em;
  margin-top: 1.5em;
  color: #00a8ff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "museo-slab", serif;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.25em;
  margin-bottom: .6em;
  margin-top: 1.5em;
}

p {
  font-size: 1.15em;
  line-height: 1.6em;
  margin-bottom: 1.25em;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #00a8ff;
  margin: 1.5em 10px;
  padding: 1em;
  quotes: "“" "”" "‘" "’";
  font-style: italic;
}

blockquote:before {
  color: #00a8ff;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  font-family: "museo-slab", serif;
}

blockquote p {
  display: inline;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  font-weight: bold;
}

a {
  color: #00a8ff;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * @license
 * MyFonts Webfont Build ID 2980087, 2015-02-25T17:08:26-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed ../fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Novecentosanswide-Bold by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-bold/
 * 
 * Webfont: Novecentosanswide-Book by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-book/
 * 
 * Webfont: Novecentosanswide-Light by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-light/
 * 
 * Webfont: Novecentosanswide-Medium by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-medium/
 * 
 * Webfont: Novecentosanswide-Normal by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-normal/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2980087
 * Licensed pageviews: 10,000
 * ../fonts copyright: Copyright &#x00A9; 2013 by Jan Tonellato. All rights reserved.
 * 
 * © 2015 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'Novecentosanswide-Bold';
  src: url("../fonts/2D78F7_0_0.eot");
  src: url("../fonts/2D78F7_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D78F7_0_0.woff2") format("woff2"), url("../fonts/2D78F7_0_0.woff") format("woff"), url("../fonts/2D78F7_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Novecentosanswide-Book';
  src: url("../fonts/2D78F7_1_0.eot");
  src: url("../fonts/2D78F7_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D78F7_1_0.woff2") format("woff2"), url("../fonts/2D78F7_1_0.woff") format("woff"), url("../fonts/2D78F7_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Novecentosanswide-Light';
  src: url("../fonts/2D78F7_2_0.eot");
  src: url("../fonts/2D78F7_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D78F7_2_0.woff2") format("woff2"), url("../fonts/2D78F7_2_0.woff") format("woff"), url("../fonts/2D78F7_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Novecentosanswide-Medium';
  src: url("../fonts/2D78F7_3_0.eot");
  src: url("../fonts/2D78F7_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D78F7_3_0.woff2") format("woff2"), url("../fonts/2D78F7_3_0.woff") format("woff"), url("../fonts/2D78F7_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Novecentosanswide-Normal';
  src: url("../fonts/2D78F7_4_0.eot");
  src: url("../fonts/2D78F7_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D78F7_4_0.woff2") format("woff2"), url("../fonts/2D78F7_4_0.woff") format("woff"), url("../fonts/2D78F7_4_0.ttf") format("truetype");
}

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  font-size: 1em;
  margin-right: 3px;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714286em;
}

.fa-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #ffffff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}

.fa-music:before {
  content: "\f001";
}

.fa-search:before {
  content: "\f002";
}

.fa-envelope-o:before {
  content: "\f003";
}

.fa-heart:before {
  content: "\f004";
}

.fa-star:before {
  content: "\f005";
}

.fa-star-o:before {
  content: "\f006";
}

.fa-user:before {
  content: "\f007";
}

.fa-film:before {
  content: "\f008";
}

.fa-th-large:before {
  content: "\f009";
}

.fa-th:before {
  content: "\f00a";
}

.fa-th-list:before {
  content: "\f00b";
}

.fa-check:before {
  content: "\f00c";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}

.fa-search-plus:before {
  content: "\f00e";
}

.fa-search-minus:before {
  content: "\f010";
}

.fa-power-off:before {
  content: "\f011";
}

.fa-signal:before {
  content: "\f012";
}

.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}

.fa-trash-o:before {
  content: "\f014";
}

.fa-home:before {
  content: "\f015";
}

.fa-file-o:before {
  content: "\f016";
}

.fa-clock-o:before {
  content: "\f017";
}

.fa-road:before {
  content: "\f018";
}

.fa-download:before {
  content: "\f019";
}

.fa-arrow-circle-o-down:before {
  content: "\f01a";
}

.fa-arrow-circle-o-up:before {
  content: "\f01b";
}

.fa-inbox:before {
  content: "\f01c";
}

.fa-play-circle-o:before {
  content: "\f01d";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}

.fa-refresh:before {
  content: "\f021";
}

.fa-list-alt:before {
  content: "\f022";
}

.fa-lock:before {
  content: "\f023";
}

.fa-flag:before {
  content: "\f024";
}

.fa-headphones:before {
  content: "\f025";
}

.fa-volume-off:before {
  content: "\f026";
}

.fa-volume-down:before {
  content: "\f027";
}

.fa-volume-up:before {
  content: "\f028";
}

.fa-qrcode:before {
  content: "\f029";
}

.fa-barcode:before {
  content: "\f02a";
}

.fa-tag:before {
  content: "\f02b";
}

.fa-tags:before {
  content: "\f02c";
}

.fa-book:before {
  content: "\f02d";
}

.fa-bookmark:before {
  content: "\f02e";
}

.fa-print:before {
  content: "\f02f";
}

.fa-camera:before {
  content: "\f030";
}

.fa-font:before {
  content: "\f031";
}

.fa-bold:before {
  content: "\f032";
}

.fa-italic:before {
  content: "\f033";
}

.fa-text-height:before {
  content: "\f034";
}

.fa-text-width:before {
  content: "\f035";
}

.fa-align-left:before {
  content: "\f036";
}

.fa-align-center:before {
  content: "\f037";
}

.fa-align-right:before {
  content: "\f038";
}

.fa-align-justify:before {
  content: "\f039";
}

.fa-list:before {
  content: "\f03a";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}

.fa-indent:before {
  content: "\f03c";
}

.fa-video-camera:before {
  content: "\f03d";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}

.fa-pencil:before {
  content: "\f040";
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-adjust:before {
  content: "\f042";
}

.fa-tint:before {
  content: "\f043";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}

.fa-share-square-o:before {
  content: "\f045";
}

.fa-check-square-o:before {
  content: "\f046";
}

.fa-arrows:before {
  content: "\f047";
}

.fa-step-backward:before {
  content: "\f048";
}

.fa-fast-backward:before {
  content: "\f049";
}

.fa-backward:before {
  content: "\f04a";
}

.fa-play:before {
  content: "\f04b";
}

.fa-pause:before {
  content: "\f04c";
}

.fa-stop:before {
  content: "\f04d";
}

.fa-forward:before {
  content: "\f04e";
}

.fa-fast-forward:before {
  content: "\f050";
}

.fa-step-forward:before {
  content: "\f051";
}

.fa-eject:before {
  content: "\f052";
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-plus-circle:before {
  content: "\f055";
}

.fa-minus-circle:before {
  content: "\f056";
}

.fa-times-circle:before {
  content: "\f057";
}

.fa-check-circle:before {
  content: "\f058";
}

.fa-question-circle:before {
  content: "\f059";
}

.fa-info-circle:before {
  content: "\f05a";
}

.fa-crosshairs:before {
  content: "\f05b";
}

.fa-times-circle-o:before {
  content: "\f05c";
}

.fa-check-circle-o:before {
  content: "\f05d";
}

.fa-ban:before {
  content: "\f05e";
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-arrow-down:before {
  content: "\f063";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}

.fa-expand:before {
  content: "\f065";
}

.fa-compress:before {
  content: "\f066";
}

.fa-plus:before {
  content: "\f067";
}

.fa-minus:before {
  content: "\f068";
}

.fa-asterisk:before {
  content: "\f069";
}

.fa-exclamation-circle:before {
  content: "\f06a";
}

.fa-gift:before {
  content: "\f06b";
}

.fa-leaf:before {
  content: "\f06c";
}

.fa-fire:before {
  content: "\f06d";
}

.fa-eye:before {
  content: "\f06e";
}

.fa-eye-slash:before {
  content: "\f070";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}

.fa-plane:before {
  content: "\f072";
}

.fa-calendar:before {
  content: "\f073";
}

.fa-random:before {
  content: "\f074";
}

.fa-comment:before {
  content: "\f075";
}

.fa-magnet:before {
  content: "\f076";
}

.fa-chevron-up:before {
  content: "\f077";
}

.fa-chevron-down:before {
  content: "\f078";
}

.fa-retweet:before {
  content: "\f079";
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.fa-folder:before {
  content: "\f07b";
}

.fa-folder-open:before {
  content: "\f07c";
}

.fa-arrows-v:before {
  content: "\f07d";
}

.fa-arrows-h:before {
  content: "\f07e";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}

.fa-twitter-square:before {
  content: "\f081";
}

.fa-facebook-square:before {
  content: "\f082";
}

.fa-camera-retro:before {
  content: "\f083";
}

.fa-key:before {
  content: "\f084";
}

.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}

.fa-comments:before {
  content: "\f086";
}

.fa-thumbs-o-up:before {
  content: "\f087";
}

.fa-thumbs-o-down:before {
  content: "\f088";
}

.fa-star-half:before {
  content: "\f089";
}

.fa-heart-o:before {
  content: "\f08a";
}

.fa-sign-out:before {
  content: "\f08b";
}

.fa-linkedin-square:before {
  content: "\f08c";
}

.fa-thumb-tack:before {
  content: "\f08d";
}

.fa-external-link:before {
  content: "\f08e";
}

.fa-sign-in:before {
  content: "\f090";
}

.fa-trophy:before {
  content: "\f091";
}

.fa-github-square:before {
  content: "\f092";
}

.fa-upload:before {
  content: "\f093";
}

.fa-lemon-o:before {
  content: "\f094";
}

.fa-phone:before {
  content: "\f095";
}

.fa-square-o:before {
  content: "\f096";
}

.fa-bookmark-o:before {
  content: "\f097";
}

.fa-phone-square:before {
  content: "\f098";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}

.fa-github:before {
  content: "\f09b";
}

.fa-unlock:before {
  content: "\f09c";
}

.fa-credit-card:before {
  content: "\f09d";
}

.fa-rss:before {
  content: "\f09e";
}

.fa-hdd-o:before {
  content: "\f0a0";
}

.fa-bullhorn:before {
  content: "\f0a1";
}

.fa-bell:before {
  content: "\f0f3";
}

.fa-certificate:before {
  content: "\f0a3";
}

.fa-hand-o-right:before {
  content: "\f0a4";
}

.fa-hand-o-left:before {
  content: "\f0a5";
}

.fa-hand-o-up:before {
  content: "\f0a6";
}

.fa-hand-o-down:before {
  content: "\f0a7";
}

.fa-arrow-circle-left:before {
  content: "\f0a8";
}

.fa-arrow-circle-right:before {
  content: "\f0a9";
}

.fa-arrow-circle-up:before {
  content: "\f0aa";
}

.fa-arrow-circle-down:before {
  content: "\f0ab";
}

.fa-globe:before {
  content: "\f0ac";
}

.fa-wrench:before {
  content: "\f0ad";
}

.fa-tasks:before {
  content: "\f0ae";
}

.fa-filter:before {
  content: "\f0b0";
}

.fa-briefcase:before {
  content: "\f0b1";
}

.fa-arrows-alt:before {
  content: "\f0b2";
}

.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}

.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}

.fa-cloud:before {
  content: "\f0c2";
}

.fa-flask:before {
  content: "\f0c3";
}

.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}

.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}

.fa-paperclip:before {
  content: "\f0c6";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}

.fa-square:before {
  content: "\f0c8";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}

.fa-list-ul:before {
  content: "\f0ca";
}

.fa-list-ol:before {
  content: "\f0cb";
}

.fa-strikethrough:before {
  content: "\f0cc";
}

.fa-underline:before {
  content: "\f0cd";
}

.fa-table:before {
  content: "\f0ce";
}

.fa-magic:before {
  content: "\f0d0";
}

.fa-truck:before {
  content: "\f0d1";
}

.fa-pinterest:before {
  content: "\f0d2";
}

.fa-pinterest-square:before {
  content: "\f0d3";
}

.fa-google-plus-square:before {
  content: "\f0d4";
}

.fa-google-plus:before {
  content: "\f0d5";
}

.fa-money:before {
  content: "\f0d6";
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-up:before {
  content: "\f0d8";
}

.fa-caret-left:before {
  content: "\f0d9";
}

.fa-caret-right:before {
  content: "\f0da";
}

.fa-columns:before {
  content: "\f0db";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}

.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}

.fa-comment-o:before {
  content: "\f0e5";
}

.fa-comments-o:before {
  content: "\f0e6";
}

.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}

.fa-sitemap:before {
  content: "\f0e8";
}

.fa-umbrella:before {
  content: "\f0e9";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}

.fa-lightbulb-o:before {
  content: "\f0eb";
}

.fa-exchange:before {
  content: "\f0ec";
}

.fa-cloud-download:before {
  content: "\f0ed";
}

.fa-cloud-upload:before {
  content: "\f0ee";
}

.fa-user-md:before {
  content: "\f0f0";
}

.fa-stethoscope:before {
  content: "\f0f1";
}

.fa-suitcase:before {
  content: "\f0f2";
}

.fa-bell-o:before {
  content: "\f0a2";
}

.fa-coffee:before {
  content: "\f0f4";
}

.fa-cutlery:before {
  content: "\f0f5";
}

.fa-file-text-o:before {
  content: "\f0f6";
}

.fa-building-o:before {
  content: "\f0f7";
}

.fa-hospital-o:before {
  content: "\f0f8";
}

.fa-ambulance:before {
  content: "\f0f9";
}

.fa-medkit:before {
  content: "\f0fa";
}

.fa-fighter-jet:before {
  content: "\f0fb";
}

.fa-beer:before {
  content: "\f0fc";
}

.fa-h-square:before {
  content: "\f0fd";
}

.fa-plus-square:before {
  content: "\f0fe";
}

.fa-angle-double-left:before {
  content: "\f100";
}

.fa-angle-double-right:before {
  content: "\f101";
}

.fa-angle-double-up:before {
  content: "\f102";
}

.fa-angle-double-down:before {
  content: "\f103";
}

.fa-angle-left:before {
  content: "\f104";
}

.fa-angle-right:before {
  content: "\f105";
}

.fa-angle-up:before {
  content: "\f106";
}

.fa-angle-down:before {
  content: "\f107";
}

.fa-desktop:before {
  content: "\f108";
}

.fa-laptop:before {
  content: "\f109";
}

.fa-tablet:before {
  content: "\f10a";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}

.fa-circle-o:before {
  content: "\f10c";
}

.fa-quote-left:before {
  content: "\f10d";
}

.fa-quote-right:before {
  content: "\f10e";
}

.fa-spinner:before {
  content: "\f110";
}

.fa-circle:before {
  content: "\f111";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}

.fa-github-alt:before {
  content: "\f113";
}

.fa-folder-o:before {
  content: "\f114";
}

.fa-folder-open-o:before {
  content: "\f115";
}

.fa-smile-o:before {
  content: "\f118";
}

.fa-frown-o:before {
  content: "\f119";
}

.fa-meh-o:before {
  content: "\f11a";
}

.fa-gamepad:before {
  content: "\f11b";
}

.fa-keyboard-o:before {
  content: "\f11c";
}

.fa-flag-o:before {
  content: "\f11d";
}

.fa-flag-checkered:before {
  content: "\f11e";
}

.fa-terminal:before {
  content: "\f120";
}

.fa-code:before {
  content: "\f121";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}

.fa-location-arrow:before {
  content: "\f124";
}

.fa-crop:before {
  content: "\f125";
}

.fa-code-fork:before {
  content: "\f126";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}

.fa-question:before {
  content: "\f128";
}

.fa-info:before {
  content: "\f129";
}

.fa-exclamation:before {
  content: "\f12a";
}

.fa-superscript:before {
  content: "\f12b";
}

.fa-subscript:before {
  content: "\f12c";
}

.fa-eraser:before {
  content: "\f12d";
}

.fa-puzzle-piece:before {
  content: "\f12e";
}

.fa-microphone:before {
  content: "\f130";
}

.fa-microphone-slash:before {
  content: "\f131";
}

.fa-shield:before {
  content: "\f132";
}

.fa-calendar-o:before {
  content: "\f133";
}

.fa-fire-extinguisher:before {
  content: "\f134";
}

.fa-rocket:before {
  content: "\f135";
}

.fa-maxcdn:before {
  content: "\f136";
}

.fa-chevron-circle-left:before {
  content: "\f137";
}

.fa-chevron-circle-right:before {
  content: "\f138";
}

.fa-chevron-circle-up:before {
  content: "\f139";
}

.fa-chevron-circle-down:before {
  content: "\f13a";
}

.fa-html5:before {
  content: "\f13b";
}

.fa-css3:before {
  content: "\f13c";
}

.fa-anchor:before {
  content: "\f13d";
}

.fa-unlock-alt:before {
  content: "\f13e";
}

.fa-bullseye:before {
  content: "\f140";
}

.fa-ellipsis-h:before {
  content: "\f141";
}

.fa-ellipsis-v:before {
  content: "\f142";
}

.fa-rss-square:before {
  content: "\f143";
}

.fa-play-circle:before {
  content: "\f144";
}

.fa-ticket:before {
  content: "\f145";
}

.fa-minus-square:before {
  content: "\f146";
}

.fa-minus-square-o:before {
  content: "\f147";
}

.fa-level-up:before {
  content: "\f148";
}

.fa-level-down:before {
  content: "\f149";
}

.fa-check-square:before {
  content: "\f14a";
}

.fa-pencil-square:before {
  content: "\f14b";
}

.fa-external-link-square:before {
  content: "\f14c";
}

.fa-share-square:before {
  content: "\f14d";
}

.fa-compass:before {
  content: "\f14e";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}

.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}

.fa-gbp:before {
  content: "\f154";
}

.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}

.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}

.fa-won:before,
.fa-krw:before {
  content: "\f159";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}

.fa-file:before {
  content: "\f15b";
}

.fa-file-text:before {
  content: "\f15c";
}

.fa-sort-alpha-asc:before {
  content: "\f15d";
}

.fa-sort-alpha-desc:before {
  content: "\f15e";
}

.fa-sort-amount-asc:before {
  content: "\f160";
}

.fa-sort-amount-desc:before {
  content: "\f161";
}

.fa-sort-numeric-asc:before {
  content: "\f162";
}

.fa-sort-numeric-desc:before {
  content: "\f163";
}

.fa-thumbs-up:before {
  content: "\f164";
}

.fa-thumbs-down:before {
  content: "\f165";
}

.fa-youtube-square:before {
  content: "\f166";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-xing:before {
  content: "\f168";
}

.fa-xing-square:before {
  content: "\f169";
}

.fa-youtube-play:before {
  content: "\f16a";
}

.fa-dropbox:before {
  content: "\f16b";
}

.fa-stack-overflow:before {
  content: "\f16c";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-flickr:before {
  content: "\f16e";
}

.fa-adn:before {
  content: "\f170";
}

.fa-bitbucket:before {
  content: "\f171";
}

.fa-bitbucket-square:before {
  content: "\f172";
}

.fa-tumblr:before {
  content: "\f173";
}

.fa-tumblr-square:before {
  content: "\f174";
}

.fa-long-arrow-down:before {
  content: "\f175";
}

.fa-long-arrow-up:before {
  content: "\f176";
}

.fa-long-arrow-left:before {
  content: "\f177";
}

.fa-long-arrow-right:before {
  content: "\f178";
}

.fa-apple:before {
  content: "\f179";
}

.fa-windows:before {
  content: "\f17a";
}

.fa-android:before {
  content: "\f17b";
}

.fa-linux:before {
  content: "\f17c";
}

.fa-dribbble:before {
  content: "\f17d";
}

.fa-skype:before {
  content: "\f17e";
}

.fa-foursquare:before {
  content: "\f180";
}

.fa-trello:before {
  content: "\f181";
}

.fa-female:before {
  content: "\f182";
}

.fa-male:before {
  content: "\f183";
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}

.fa-sun-o:before {
  content: "\f185";
}

.fa-moon-o:before {
  content: "\f186";
}

.fa-archive:before {
  content: "\f187";
}

.fa-bug:before {
  content: "\f188";
}

.fa-vk:before {
  content: "\f189";
}

.fa-weibo:before {
  content: "\f18a";
}

.fa-renren:before {
  content: "\f18b";
}

.fa-pagelines:before {
  content: "\f18c";
}

.fa-stack-exchange:before {
  content: "\f18d";
}

.fa-arrow-circle-o-right:before {
  content: "\f18e";
}

.fa-arrow-circle-o-left:before {
  content: "\f190";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}

.fa-dot-circle-o:before {
  content: "\f192";
}

.fa-wheelchair:before {
  content: "\f193";
}

.fa-vimeo-square:before {
  content: "\f194";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}

.fa-plus-square-o:before {
  content: "\f196";
}

.fa-space-shuttle:before {
  content: "\f197";
}

.fa-slack:before {
  content: "\f198";
}

.fa-envelope-square:before {
  content: "\f199";
}

.fa-wordpress:before {
  content: "\f19a";
}

.fa-openid:before {
  content: "\f19b";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}

.fa-yahoo:before {
  content: "\f19e";
}

.fa-google:before {
  content: "\f1a0";
}

.fa-reddit:before {
  content: "\f1a1";
}

.fa-reddit-square:before {
  content: "\f1a2";
}

.fa-stumbleupon-circle:before {
  content: "\f1a3";
}

.fa-stumbleupon:before {
  content: "\f1a4";
}

.fa-delicious:before {
  content: "\f1a5";
}

.fa-digg:before {
  content: "\f1a6";
}

.fa-pied-piper:before {
  content: "\f1a7";
}

.fa-pied-piper-alt:before {
  content: "\f1a8";
}

.fa-drupal:before {
  content: "\f1a9";
}

.fa-joomla:before {
  content: "\f1aa";
}

.fa-language:before {
  content: "\f1ab";
}

.fa-fax:before {
  content: "\f1ac";
}

.fa-building:before {
  content: "\f1ad";
}

.fa-child:before {
  content: "\f1ae";
}

.fa-paw:before {
  content: "\f1b0";
}

.fa-spoon:before {
  content: "\f1b1";
}

.fa-cube:before {
  content: "\f1b2";
}

.fa-cubes:before {
  content: "\f1b3";
}

.fa-behance:before {
  content: "\f1b4";
}

.fa-behance-square:before {
  content: "\f1b5";
}

.fa-steam:before {
  content: "\f1b6";
}

.fa-steam-square:before {
  content: "\f1b7";
}

.fa-recycle:before {
  content: "\f1b8";
}

.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}

.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}

.fa-tree:before {
  content: "\f1bb";
}

.fa-spotify:before {
  content: "\f1bc";
}

.fa-deviantart:before {
  content: "\f1bd";
}

.fa-soundcloud:before {
  content: "\f1be";
}

.fa-database:before {
  content: "\f1c0";
}

.fa-file-pdf-o:before {
  content: "\f1c1";
}

.fa-file-word-o:before {
  content: "\f1c2";
}

.fa-file-excel-o:before {
  content: "\f1c3";
}

.fa-file-powerpoint-o:before {
  content: "\f1c4";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}

.fa-file-code-o:before {
  content: "\f1c9";
}

.fa-vine:before {
  content: "\f1ca";
}

.fa-codepen:before {
  content: "\f1cb";
}

.fa-jsfiddle:before {
  content: "\f1cc";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}

.fa-circle-o-notch:before {
  content: "\f1ce";
}

.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}

.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}

.fa-git-square:before {
  content: "\f1d2";
}

.fa-git:before {
  content: "\f1d3";
}

.fa-hacker-news:before {
  content: "\f1d4";
}

.fa-tencent-weibo:before {
  content: "\f1d5";
}

.fa-qq:before {
  content: "\f1d6";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}

.fa-history:before {
  content: "\f1da";
}

.fa-genderless:before,
.fa-circle-thin:before {
  content: "\f1db";
}

.fa-header:before {
  content: "\f1dc";
}

.fa-paragraph:before {
  content: "\f1dd";
}

.fa-sliders:before {
  content: "\f1de";
}

.fa-share-alt:before {
  content: "\f1e0";
}

.fa-share-alt-square:before {
  content: "\f1e1";
}

.fa-bomb:before {
  content: "\f1e2";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}

.fa-tty:before {
  content: "\f1e4";
}

.fa-binoculars:before {
  content: "\f1e5";
}

.fa-plug:before {
  content: "\f1e6";
}

.fa-slideshare:before {
  content: "\f1e7";
}

.fa-twitch:before {
  content: "\f1e8";
}

.fa-yelp:before {
  content: "\f1e9";
}

.fa-newspaper-o:before {
  content: "\f1ea";
}

.fa-wifi:before {
  content: "\f1eb";
}

.fa-calculator:before {
  content: "\f1ec";
}

.fa-paypal:before {
  content: "\f1ed";
}

.fa-google-wallet:before {
  content: "\f1ee";
}

.fa-cc-visa:before {
  content: "\f1f0";
}

.fa-cc-mastercard:before {
  content: "\f1f1";
}

.fa-cc-discover:before {
  content: "\f1f2";
}

.fa-cc-amex:before {
  content: "\f1f3";
}

.fa-cc-paypal:before {
  content: "\f1f4";
}

.fa-cc-stripe:before {
  content: "\f1f5";
}

.fa-bell-slash:before {
  content: "\f1f6";
}

.fa-bell-slash-o:before {
  content: "\f1f7";
}

.fa-trash:before {
  content: "\f1f8";
}

.fa-copyright:before {
  content: "\f1f9";
}

.fa-at:before {
  content: "\f1fa";
}

.fa-eyedropper:before {
  content: "\f1fb";
}

.fa-paint-brush:before {
  content: "\f1fc";
}

.fa-birthday-cake:before {
  content: "\f1fd";
}

.fa-area-chart:before {
  content: "\f1fe";
}

.fa-pie-chart:before {
  content: "\f200";
}

.fa-line-chart:before {
  content: "\f201";
}

.fa-lastfm:before {
  content: "\f202";
}

.fa-lastfm-square:before {
  content: "\f203";
}

.fa-toggle-off:before {
  content: "\f204";
}

.fa-toggle-on:before {
  content: "\f205";
}

.fa-bicycle:before {
  content: "\f206";
}

.fa-bus:before {
  content: "\f207";
}

.fa-ioxhost:before {
  content: "\f208";
}

.fa-angellist:before {
  content: "\f209";
}

.fa-cc:before {
  content: "\f20a";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}

.fa-meanpath:before {
  content: "\f20c";
}

.fa-buysellads:before {
  content: "\f20d";
}

.fa-connectdevelop:before {
  content: "\f20e";
}

.fa-dashcube:before {
  content: "\f210";
}

.fa-forumbee:before {
  content: "\f211";
}

.fa-leanpub:before {
  content: "\f212";
}

.fa-sellsy:before {
  content: "\f213";
}

.fa-shirtsinbulk:before {
  content: "\f214";
}

.fa-simplybuilt:before {
  content: "\f215";
}

.fa-skyatlas:before {
  content: "\f216";
}

.fa-cart-plus:before {
  content: "\f217";
}

.fa-cart-arrow-down:before {
  content: "\f218";
}

.fa-diamond:before {
  content: "\f219";
}

.fa-ship:before {
  content: "\f21a";
}

.fa-user-secret:before {
  content: "\f21b";
}

.fa-motorcycle:before {
  content: "\f21c";
}

.fa-street-view:before {
  content: "\f21d";
}

.fa-heartbeat:before {
  content: "\f21e";
}

.fa-venus:before {
  content: "\f221";
}

.fa-mars:before {
  content: "\f222";
}

.fa-mercury:before {
  content: "\f223";
}

.fa-transgender:before {
  content: "\f224";
}

.fa-transgender-alt:before {
  content: "\f225";
}

.fa-venus-double:before {
  content: "\f226";
}

.fa-mars-double:before {
  content: "\f227";
}

.fa-venus-mars:before {
  content: "\f228";
}

.fa-mars-stroke:before {
  content: "\f229";
}

.fa-mars-stroke-v:before {
  content: "\f22a";
}

.fa-mars-stroke-h:before {
  content: "\f22b";
}

.fa-neuter:before {
  content: "\f22c";
}

.fa-facebook-official:before {
  content: "\f230";
}

.fa-pinterest-p:before {
  content: "\f231";
}

.fa-whatsapp:before {
  content: "\f232";
}

.fa-server:before {
  content: "\f233";
}

.fa-user-plus:before {
  content: "\f234";
}

.fa-user-times:before {
  content: "\f235";
}

.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}

.fa-viacoin:before {
  content: "\f237";
}

.fa-train:before {
  content: "\f238";
}

.fa-subway:before {
  content: "\f239";
}

.fa-medium:before {
  content: "\f23a";
}

.site-header {
  position: relative;
  background-size: cover;
  background-position: center;
}

.single-post .outer-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}

.site-branding {
  float: left;
  margin: 0px auto;
  padding: 5px 20px;
  position: relative;
  z-index: 999;
}

@media (min-width: 1200px) {
  .site-branding {
    padding: 5px 0;
  }
}

.logo {
  text-indent: -9999px;
  display: block;
  background: url(../images/vlc-logo.png) no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: 100px 100px;
}

.site-title {
  height: 100px;
  margin-bottom: 0;
}

.location-title {
  text-align: center;
  color: #fff;
  font-size: 8em;
  margin: 0;
  text-transform: uppercase;
}

.page-title {
  color: #00a8ff;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 70px;
  margin-bottom: 0;
}

@media (min-width: 700px) {
  .page-title {
    font-size: 4em;
  }
}

.site-navigation {
  text-transform: uppercase;
  margin: 0px auto;
  padding: 0;
  position: inherit;
  line-height: 100px;
}

@media (min-width: 700px) {
  .site-navigation {
    padding: 5px 0;
    float: right;
    width: 100%;
    max-width: 90%;
  }
}

.hero-content .intro {
  width: 100%;
  padding: 3rem 1rem;
  text-align: center;
  clear: both;
}

@media (min-width: 774px) {
  .hero-content .intro {
    padding: 6rem 2rem;
  }
}

.hero-content h2, .hero-content h3, .hero-content .video-link {
  color: #fff;
  font-weight: normal;
}

.hero-content h2 {
  text-transform: none;
  font-size: 2em;
  line-height: 1.25;
  margin: 0 auto;
  padding-bottom: 15px;
  font-family: "museo-sans", sans-serif;
}

@media (min-width: 700px) {
  .hero-content h2 {
    font-size: 3em;
  }
}

.hero-content h3 {
  font-size: 1.125em;
  font-family: "museo-slab", serif;
}

.hero-content .give-button {
  margin-bottom: 1em;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.hero-content .other-ways-to-give {
  color: #fff;
  text-decoration: none;
  padding-top: 10px;
  display: inline-block;
}

.hero-content .other-ways-to-give:hover {
  color: #00a8ff;
}

.hero-content .video-link {
  font-size: 1.625em;
  text-decoration: none;
  font-family: "museo-slab", serif;
  font-weight: 700;
  padding: 30px 0;
  display: block;
}

.single-vlc_location .hero-content h2 {
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1.25;
  margin: 0 auto;
  padding-bottom: 15px;
  font-family: "museo-sans", sans-serif;
}

@media (min-width: 700px) {
  .single-vlc_location .hero-content h2 {
    font-size: 4em;
  }
}

.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.site-main {
  width: 100%;
  max-width: 60.25rem;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .site-main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.content-area ul, .content-area ol {
  margin-bottom: 40px;
}

.home-tagline {
  font-size: 2.25em;
  text-align: center;
}

.sticky {
  display: block;
}

.entry-content {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 774px) {
  .entry-content {
    padding: 0;
  }
}

.single-vlc_location .entry-content {
  padding: 20px 0 60px;
}

.entry-content h2 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  text-transform: initial;
}

.entry-content ul {
  margin: 0;
  padding-left: 2em;
}

@media (min-width: 700px) {
  .entry-content ul {
    margin: 0 3em;
  }
}

.entry-content ul li {
  padding-left: 0;
  line-height: 2;
}

@media (min-width: 700px) {
  .entry-content ul li {
    padding-left: 0;
  }
}

.entry-content .cta-link {
  color: #bfbfbf;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: block;
  width: auto;
  margin: 2em auto 0;
}

.entry-content .cta-link:after {
  font-family: 'FontAwesome';
  content: " \f04b";
}

.hentry {
  margin: 0;
}

.single-post .hentry {
  margin: 3rem 0;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: block;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

.wp-caption-text {
  text-align: center;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

audio {
  width: 100% !important;
}

#secondary {
  display: none;
}

.site-footer {
  color: #555555;
  padding: 20px 0;
  text-align: center;
  clear: both;
  border-top: 2px solid #555555;
  background-color: #efefef;
  margin-top: 2rem;
}

.join-us {
  padding-bottom: 20px;
  font-family: "museo-slab", serif;
}

.join-us a {
  text-decoration: none;
}

.copyright {
  font-size: .75em;
  margin-bottom: 0;
  font-family: "museo-slab", serif;
}

.copyright a {
  text-decoration: underline;
}

.footer-menu ul, .social-nav ul {
  margin-left: 0;
}

.footer-menu ul li, .social-nav ul li {
  list-style-type: none;
  display: inline;
  margin: 0 0.75em;
}

.footer-menu ul li a, .social-nav ul li a {
  text-decoration: none;
}

.nav-outter-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
  padding-top: 10px;
}

.general-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 995;
  clear: both;
  background: #313131;
  padding-top: 130px;
  width: 100%;
}

@media (min-width: 700px) {
  .general-nav {
    z-index: auto;
    display: block;
    position: relative;
    float: right;
    clear: none;
    padding: 0;
    margin: 0 auto;
    background: none;
  }
  .general-nav .top-menu-content {
    display: none;
  }
}

.general-nav ul {
  margin: 0;
}

@media (min-width: 700px) {
  .general-nav ul {
    margin: inherit;
    float: right;
  }
}

.general-nav ul li {
  font-weight: bold;
  list-style-type: none;
  line-height: 44px;
  clear: both;
  padding-left: 20px;
  overflow: hidden;
}

.general-nav ul li.menu-toggle-li {
  display: none;
}

@media (min-width: 700px) {
  .general-nav ul li {
    display: inline;
    clear: none;
    line-height: inherit;
    padding-left: 0;
  }
  .general-nav ul li.menu-toggle-li {
    display: inline;
  }
}

.general-nav ul li:hover {
  background-color: #232323;
}

.general-nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  float: left;
  margin-right: 1rem;
  width: 100%;
}

@media (min-width: 700px) {
  .general-nav ul li a {
    width: auto;
  }
}

@media (min-width: 960px) {
  .general-nav ul li a {
    margin-right: 2rem;
  }
}

@media (min-width: 700px) {
  .general-nav ul li a:hover {
    color: #ff3333;
  }
}

.menu-toggle {
  float: right;
  text-transform: uppercase;
  color: #fff;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 1.5em;
  position: relative;
  z-index: 999;
  padding-right: 20px;
  text-align: right;
  margin-right: 0 !important;
}

@media (min-width: 1200px) {
  .menu-toggle {
    padding-right: 0px;
  }
}

.menu-toggle:hover {
  color: #ddd;
}

.menu-toggle-mobile {
  display: inline;
}

@media (min-width: 700px) {
  .menu-toggle-mobile {
    display: none;
  }
}

.general-nav ul li:hover > a, .general-nav ul li:focus > a, .general-nav ul li:active > a, .menu-toggle:hover, .menu-toggle:focus, .menu-toggle:active, .hero-content .video-link:hover, .hero-content .video-link:focus, .hero-content .video-link:active {
  color: #00a8ff;
}

.top-menu-wrap {
  background: #313131;
  padding: 120px 0 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 995;
  width: 100%;
  display: none;
  border-bottom: 5px solid #00a8ff;
}

.top-menu-content {
  margin: 0 auto;
  max-width: 60.875em;
}

@media (min-width: 700px) {
  .top-menu-content .column {
    float: left;
    width: 25%;
    border-left: 1px solid #2C3B3F;
    padding-left: 3%;
  }
}

.top-menu-content .column .widget-title {
  color: #fff;
  background-color: #474747;
  line-height: 48px;
  padding-left: 20px;
  margin-top: 1px;
  font-size: 1.25em;
  margin-bottom: 0;
}

@media (min-width: 700px) {
  .top-menu-content .column .widget-title {
    color: #fff;
    margin-bottom: 20px;
    padding-left: 0;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 200;
    font-family: 'Novecentosanswide-Bold', sans-serif;
  }
}

.top-menu-content .column .widget-title.selected {
  padding-left: 10px;
  border-left: 10px solid #3981a7;
}

.top-menu-content .column .widget-title:hover {
  padding-left: 10px;
  border-left: 10px solid #3981a7;
}

@media (min-width: 700px) {
  .top-menu-content .column .widget-title:hover {
    padding-left: 0;
    border: none;
  }
}

.top-menu-content .column ul {
  display: none;
}

@media (min-width: 700px) {
  .top-menu-content .column ul {
    margin: 0;
    display: block;
  }
}

.top-menu-content .column ul li {
  font-family: "museo-sans", sans-serif;
  list-style-type: none;
}

@media (min-width: 700px) {
  .top-menu-content .column ul li {
    margin-bottom: 10px;
    line-height: 1.125em;
    text-transform: initial;
  }
}

.top-menu-content .column ul li a {
  text-decoration: none;
}

@media (min-width: 700px) {
  .top-menu-content .column ul li a {
    color: #00a8ff;
  }
}

.top-menu-content .column ul li a:hover {
  color: #fff;
}

.new-menu-class {
  position: relative;
  padding-left: 1.25em !important;
}

.new-menu-class:before {
  position: absolute;
  font-family: FontAwesome;
  top: 0;
  left: -5px;
  content: "\f005";
  color: #00a8ff;
  padding-right: 0.5em;
  left: 0;
}

.new-menu-class:hover:before {
  color: #fff;
}

@media screen and (max-width: 700px) {
  .new-menu-class {
    padding-left: 2.5em !important;
  }
  .new-menu-class:before {
    margin-left: 1em;
    color: #fff;
  }
}

.breadcrumbs {
  display: none;
}

#element_to_pop_up {
  background-color: #fff;
  border-radius: 15px;
  color: #000;
  display: none;
  padding: 20px;
  min-width: 400px;
  min-height: 180px;
}

.b-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}

.watch-video {
  cursor: pointer;
}

#video-to-watch {
  background-color: #fff;
  border-radius: 15px;
  color: #000;
  display: none;
  padding: 20px;
  min-width: 400px;
  min-height: 180px;
}

.current-video {
  clear: both;
  text-align: center;
}

.current-video h3 {
  color: #fff;
  font-size: 1.625em;
  font-family: "museo-slab", serif;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 0;
  margin: 0;
}

.videoWrapper {
  position: relative;
  padding-bottom: 83.2%;
  padding-top: 25px;
  height: 100% !important;
  margin: 0 1em;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.archivevideoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 100% !important;
}

.archivevideoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-template-page-current-series .site-content {
  text-align: center;
}

.page-template-page-current-series .site-content a {
  color: #00a8ff;
}

.page-template-page-current-series .site-content a:hover, .page-template-page-current-series .site-content a:visited {
  color: #00a8ff;
}

.page-template-page-current-series ol {
  max-width: 60%;
  display: block;
  margin: 0 auto 40px;
  text-align: left;
}

.page-template-page-current-series ol li {
  padding-left: 2em;
}

.page-template-page-locations .locations {
  color: #fff;
  text-align: center;
  font-size: 2.75em;
  padding: 0;
}

.page-template-page-locations .locations-list {
  width: 100%;
  padding: 0 20px 40px;
}

@media (min-width: 700px) {
  .page-template-page-locations .locations-list {
    width: 85%;
    float: right;
    padding: 0 0 40px;
  }
}

.page-template-page-locations .location-name {
  color: #fff;
  display: block;
  float: left;
  clear: none;
  width: 50%;
  font-size: .875em;
  line-height: 1.75;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}

@media (min-width: 700px) {
  .page-template-page-locations .location-name {
    width: 33.333%;
    font-size: 1em;
    text-align: left;
  }
}

.page-template-page-locations .site-footer {
  margin-top: 0;
}

.location-information-wrapper {
  clear: both;
  background-color: #313131;
  padding: 3rem;
}

@media screen and (max-width: 700px) {
  .location-information-wrapper {
    padding: 3rem 1rem;
  }
}

.location-information-wrapper .location-information {
  clear: both;
  width: 100%;
  max-width: 60.25rem;
  margin: 0 auto;
}

.location-information-wrapper .location-information .location-left {
  width: 50%;
  float: left;
  padding-right: 1rem;
  text-align: right;
}

@media screen and (max-width: 700px) {
  .location-information-wrapper .location-information .location-left {
    width: 100%;
    float: none;
    clear: both;
    padding: 0;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.location-information-wrapper .location-information .location-right {
  width: 50%;
  float: right;
}

@media screen and (max-width: 700px) {
  .location-information-wrapper .location-information .location-right {
    width: 100%;
    float: none;
    clear: both;
    padding: 0;
    text-align: center;
  }
}

.location-information-wrapper .location-information h2 {
  text-transform: uppercase;
  margin-top: 0;
  color: #fff;
  text-align: center;
  line-height: 1;
}

@media screen and (max-width: 700px) {
  .location-information-wrapper .location-information h2 {
    font-size: 1.75em;
  }
}

.location-information-wrapper .location-information h3 {
  margin-top: .75rem;
  margin-bottom: 0;
  color: #fff;
}

.location-information-wrapper .location-information .locat-info {
  color: #b9b9b9;
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: 100;
}

.location-information-wrapper .location-information .service-times {
  padding-left: 1rem;
  border-left: 1px solid #fff;
}

@media screen and (max-width: 700px) {
  .location-information-wrapper .location-information .service-times {
    border-left: none;
    border-top: 1px solid #fff;
    padding-left: 0;
    padding-top: 1rem;
  }
}

.location-information-wrapper .location-information .service-times .service-day {
  color: #00a8ff;
  font-weight: normal;
  font-size: 1.25em;
  margin-top: .6rem;
}

.location-information-wrapper .location-information .get_directions a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.25em;
}

.vlc_location {
  padding-right: 1%;
  padding-left: 1%;
}

.vlc_location h2 {
  font-size: 2.25em;
  margin: 1em 0 0.75em;
}

@media (min-width: 700px) {
  .vlc_location h2 {
    font-size: 3em;
  }
}

.vlc_location .su-row {
  margin-bottom: 2em;
}

@media (min-width: 700px) {
  .vlc_location .su-row {
    margin-bottom: 3em;
  }
}

@media (min-width: 960px) {
  .vlc_location .su-row {
    margin-bottom: 4em;
  }
}

.vlc_location .su-row .su-column {
  padding: .75em;
}

.vlc_location .su-row h3 {
  color: #00a8ff;
  margin: 1em 0 0.75em;
  font-size: 1.25em;
}

.vlc_location .su-row p {
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 1.5;
}

.vlc_location .su-row p:last-of-type {
  margin-bottom: 0;
}

.vlc_location .su-row.with-borders .su-column {
  border: 1px solid #bfbfbf;
}

.vlc_location .su-row.with-borders .su-column img {
  border: 1px solid #bfbfbf;
}

.vlc_location .location-gallery img {
  max-width: 100%;
  padding: .15em;
}

@media screen and (max-width: 700px) {
  .vlc_location .gallery-columns-4 .gallery-item {
    max-width: 50%;
  }
}

.vlc_location .su-spoiler-style-fancy {
  border-radius: 0px;
  color: #00a8ff !important;
  background-color: #fff;
  border: 2px solid #00a8ff;
  max-width: 300px;
}

.vlc_location .su-spoiler-style-fancy > .su-spoiler-title {
  border-radius: 0px;
  color: #00a8ff !important;
  background-color: #fff;
  border-bottom: 2px solid #00a8ff;
  text-align: center;
  font-weight: 700;
  line-height: 1.1;
  text-decoration: none;
  padding: 1em;
}

.vlc_location .su-spoiler-style-fancy > .su-spoiler-title:hover {
  color: #fff !important;
  background-color: #00a8ff !important;
}

.vlc_location .su-spoiler-style-fancy .su-spoiler-icon {
  top: 11px;
}

.facetwp-facet button, .facetwp-facet input, .facetwp-facet select, .facetwp-facet textarea {
  display: block;
  font-size: 100%;
  margin: 0 0 5px !important;
  vertical-align: baseline;
}

.facetwp-facet button, .facetwp-facet input[type="button"], .facetwp-facet input[type="reset"], .facetwp-facet input[type="submit"] {
  display: block;
  float: left;
  margin-right: 5% !important;
  width: 45%;
  margin-bottom: 40px !important;
}

.facetwp-pager {
  margin-top: 3rem;
}

.life-groups {
  width: 100%;
  margin-top: 3em;
}

.life-groups p {
  font-size: 1em;
  line-height: 1.5;
}

.life-groups h2 {
  font-size: 3em;
}

.life-groups .life-group {
  width: 100%;
  margin-bottom: 20px;
}

.life-groups .life-group .life-group-details {
  border: 2px solid #00a8ff;
  border-top: none;
  padding: .75em;
  margin-bottom: 5px;
  display: none;
}

.life-groups .life-group .life-group-details img {
  border: medium none;
  display: block;
  float: none;
  max-width: 100%;
  margin: 0 auto 15px;
}

@media (min-width: 700px) {
  .life-groups .life-group .life-group-details img {
    float: right;
    margin: 0;
    max-width: 40%;
  }
}

.life-groups .life-group .life-group-details .lifegroup-info {
  float: none;
  width: 100%;
  position: relative;
}

.life-groups .life-group .life-group-details .lifegroup-info .lifegroup-block {
  margin-bottom: 10px;
}

.life-groups .life-group .life-group-details .lifegroup-info .lifegroup-block h4 {
  font-weight: 700;
  font-family: "museo-slab", serif;
  color: #00a8ff;
  float: left;
  width: 50%;
  display: block;
}

.life-groups .life-group .life-group-details .lifegroup-info .lifegroup-block span {
  float: right;
  width: 50%;
  display: block;
}

@media (min-width: 700px) {
  .life-groups .life-group .life-group-details .lifegroup-info {
    float: left;
    width: 60%;
  }
  .life-groups .life-group .life-group-details .lifegroup-info .lifegroup-block h4 {
    width: 33%;
  }
  .life-groups .life-group .life-group-details .lifegroup-info .lifegroup-block span {
    width: 66%;
  }
}

.life-groups .life-group .life-group-details .lg-description {
  float: left;
  width: 100%;
  display: block;
}

.life-groups .life-group .life-group-details .lg-description p {
  margin-bottom: 0;
  padding: 0 20px;
}

.life-groups .life-group .life-group-title, .life-groups .life-group .lg-form-link {
  font-size: 1.25em;
  font-weight: bold;
  color: #00a8ff;
  display: block;
  clear: both;
}

.life-groups .life-group .life-group-title {
  cursor: pointer;
  background-color: #00a8ff;
  color: #fff;
  padding: 0.5em 0 0.3em 1em;
  border: 2px solid #00a8ff;
  margin-bottom: 0;
  margin-top: .5em;
}

.life-groups .life-group .life-group-title:hover, .life-groups .life-group .life-group-title:active {
  background-color: #fff;
  color: #00a8ff;
}

.life-groups .life-group .lg-form-link {
  margin-bottom: 0;
  cursor: pointer;
  float: left;
  padding: 10px 0 5px;
}

.life-groups .life-group .lg-form-container {
  display: none;
  border: 1px solid #00a8ff;
  padding: 10px 20px;
}

.life-groups .life-group .lg-form-container .gform_wrapper {
  margin-left: auto;
  margin-right: auto;
}

.life-groups .life-group .lg-form-container .gform_wrapper li {
  padding-left: 0;
}

.life-groups .life-group .lg-form-container .gform_wrapper .top_label .gfield_label {
  color: #00a8ff;
}

.life-groups .life-group .lg-form-container input[type="submit"] {
  display: block;
  background: #00a8ff;
  color: #fff;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #bfbfbf;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0.5em 1em;
  line-height: 1.25;
}

.related-posts {
  width: 100%;
}

.related-posts p {
  font-size: 1em;
  line-height: 1.5;
}

.related-posts .related-post {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 769px) {
  .related-posts .related-post {
    float: left;
    clear: right;
    width: 46%;
    margin: 0 2% 20px;
  }
}

.related-posts .related-post .post-details {
  border: 1px solid #bfbfbf;
  padding: .75em;
  margin-bottom: 5px;
}

.related-posts .related-post .post-details img {
  border: none;
  display: block;
  margin: 0 auto;
}

.related-posts .related-post .post-details .post-content ul {
  color: #000;
  font-size: 0.8em;
  margin: 0 0.5em 1em;
}

.related-posts .related-post .post-details .post-content ul li {
  line-height: 1.7;
}

.related-posts .related-post .post-title, .related-posts .related-post .form-link {
  font-size: 1.25em;
  font-weight: bold;
  color: #00a8ff;
}

.related-posts .related-post .post-title {
  margin: 1em 0 0.75em;
}

.related-posts .related-post .form-link {
  margin-bottom: 0;
  cursor: pointer;
}

.related-posts .related-post .form-container {
  display: none;
  border: 1px solid #bfbfbf;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.related-posts .related-post .form-container .gform_wrapper {
  margin-left: auto;
  margin-right: auto;
}

.related-posts .related-post .form-container .gform_wrapper li {
  padding-left: 0;
}

.related-posts .related-post .form-container .gform_wrapper .top_label .gfield_label {
  color: #00a8ff;
}

.related-posts .related-post .form-container input[type="submit"] {
  display: block;
  background: #00a8ff;
  color: #fff;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #bfbfbf;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0.5em 1em;
  line-height: 1.25;
}

.page-template-page-form .content-area {
  padding: 0;
  margin-top: -100px;
  position: relative;
  margin-bottom: 6rem;
}

@media screen and (max-width: 755px) {
  .page-template-page-form .content-area {
    margin-top: -50px;
    margin-bottom: 3rem;
  }
}

.page-template-page-form .entry-content {
  padding: 2em 5em;
  background-color: #f7f7f7;
  border-radius: 20px;
  border: 1px solid #bfbfbf;
}

.page-template-page-form .entry-content ul li {
  padding: 0;
  line-height: 1;
}

@media screen and (max-width: 755px) {
  .page-template-page-form .entry-content {
    padding: 2em;
  }
}

.gform_wrapper {
  margin: 0;
  max-width: 100%;
}

.gform_wrapper .limit-text {
  color: #00a8ff;
}

.gform_wrapper .su-spoiler-content {
  padding-left: 3em;
  padding-right: 3em;
}

.gform_wrapper .contact-us {
  text-align: center;
}

.gform_wrapper .schedule-a-visit li {
  margin-bottom: 1em;
}

.gform_wrapper .top_label .gfield_label {
  color: #00a8ff;
  text-align: left;
}

.gform_wrapper .gform_body .gfield_label {
  color: #00a8ff;
  font-size: .875em;
}

.gform_wrapper .gform_body .gsection_title {
  color: #00a8ff;
  text-align: left;
}

.gform_wrapper .gform_body .gsection {
  border: none;
}

.gform_wrapper .gform_body .select-option {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.gform_wrapper .gform_body .giving-info {
  margin-bottom: 40px;
}

.gform_wrapper .gform_body .giving-info a {
  color: #00a8ff;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.75;
  text-decoration: none;
}

.gform_wrapper .gform_body .left-align {
  text-align: left;
}

.gform_wrapper .gform_body p {
  font-size: 1rem;
}

.gform_wrapper .gform_footer input[type="submit"] {
  display: block;
  background: #00a8ff;
  color: #fff;
  max-width: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0.5em 5em;
  line-height: 1.25;
}

.required-fields .gsection_title {
  display: block;
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid #bfbfbf;
}

.gform_wrapper.gf_browser_gecko select {
  width: 100%;
}

.gform_center_title h2 {
  text-align: center !important;
}

.validation_error {
  line-height: 1.25em;
  width: inherit !important;
}

@media screen and (max-width: 755px) {
  .gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half, .gform_wrapper li.gfield.gf_3col ul.gfield_checkbox li, .gform_wrapper li.gfield.gf_3col ul.gfield_radio li, .gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox li, .gform_wrapper li.gfield.gf_list_3col ul.gfield_radio li {
    clear: both !important;
    width: 100% !important;
  }
  .gform_wrapper .gfield_date_dropdown_day, .gform_wrapper .gfield_date_dropdown_month, .gform_wrapper .gfield_date_dropdown_year {
    width: 100% !important;
    margin-bottom: .5em !important;
  }
  .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.no_last_name span, .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span, .gform_wrapper .ginput_complex.ginput_container.no_first_name.has_middle_name.has_last_name span {
    width: 100% !important;
  }
  .gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right {
    width: 100% !important;
  }
}

.gform_wrapper .top_label .gfield_label {
  margin: 0 0 0.25em !important;
  line-height: 1 !important;
}

.gform_wrapper label.gfield_label + div.ginput_container {
  margin-top: 0 !important;
  margin-bottom: 1em !important;
}

.gform_wrapper li.gf_list_inline ul.gfield_checkbox li {
  margin: 0 1.5em 0 0 !important;
}

.gsurvey-rating {
  margin-bottom: 1em;
}

.gform_wrapper ul.gfield_checkbox {
  margin-bottom: 1em !important;
}

.social-nav ul li a {
  color: #555555;
  font-size: 2em;
}

.social-nav ul li a:hover {
  color: #00a8ff;
}

a .hidden-label {
  font-size: 0;
  height: 1px;
  overflow: hidden;
}

.button, .button-blue, .button-purple, .button-teal, .button-white, .button-tkih, .button-white-alt, .tkih .invite-form .gform_wrapper .gform_footer input[type=submit] {
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.1;
  text-decoration: none;
  padding: 0.5em 1em;
  max-width: 300px;
}

.button-blue, .button-purple, .button-teal {
  color: #00a8ff !important;
  background-color: #fff;
  border: 2px solid #00a8ff;
}

.button-blue:hover, .button-purple:hover, .button-teal:hover {
  background-color: #00a8ff;
  color: #fff !important;
}

.button-blue:focus, .button-purple:focus, .button-teal:focus {
  background-color: #00a8ff;
  color: #fff !important;
}

.button-blue:active, .button-purple:active, .button-teal:active {
  background-color: #00a8ff;
  color: #fff !important;
}

.button-white {
  background-color: rgba(255, 255, 255, 0);
  color: #fff !important;
  border: 2px solid #fff;
}

.button-white:hover {
  background-color: #fff;
  color: #00a8ff !important;
}

.button-white:focus {
  background-color: #fff;
  color: #00a8ff !important;
}

.button-white:active {
  background-color: #fff;
  color: #00a8ff !important;
}

.button-tkih {
  background-color: rgba(255, 255, 255, 0);
  color: #fff !important;
  border: 2px solid #fff;
  padding-bottom: .5em !important;
}

.button-tkih:hover {
  background-color: #fff;
  color: #190F58 !important;
}

.button-tkih:focus {
  background-color: #fff;
  color: #190F58 !important;
}

.button-tkih:active {
  background-color: #fff;
  color: #190F58 !important;
}

.button-white-alt {
  background-color: rgba(255, 255, 255, 0);
  color: #fff !important;
  border: 2px solid #fff;
}

.button-white-alt:hover {
  background-color: #fff;
  color: #00a8ff !important;
}

.button-white-alt:focus {
  background-color: #fff;
  color: #00a8ff !important;
}

.button-white-alt:active {
  background-color: #fff;
  color: #00a8ff !important;
}

.parallax-scroll {
  background-image: url(https://victorylifechurch.com/wp-content/uploads/2015/06/Duane-Teaching-03.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  left: 0;
  width: 100%;
}

.home-snippet {
  color: #fff !important;
  text-align: center;
  padding: 3em 1em;
  max-width: 800px;
  margin: 0 auto;
}

.home-snippet .rowtitle {
  font-weight: bold;
}

.home-snippet h2 {
  color: #fff !important;
}

.home-gallery {
  margin: 3em 0;
  padding: 0 2em;
}

.home-gallery .su-custom-gallery-slide {
  padding: 1% !important;
  max-width: 50% !important;
  margin: 0 !important;
}

@media (min-width: 700px) {
  .home-gallery .su-custom-gallery-slide {
    max-width: 25% !important;
  }
}

.home-gallery .su-custom-gallery-slide img {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: none;
}

.events {
  max-width: 1000px;
  margin: 0 auto;
}

.events h2 {
  text-align: center;
}

.event {
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
}

.event .attachment-post-thumbnail {
  margin-bottom: 10px;
}

.event .event-title {
  margin-bottom: .25em;
}

.event .event-description {
  font-size: 1em;
  margin-bottom: 40px;
}

.event .gform_wrapper {
  margin: 0;
}

.get-connected {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;
}

.get-connected h3 {
  font-size: 1.2em;
}

.get-connected p {
  font-size: 1em;
}

button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%;
  resize: vertical;
}

.hide-label label, .hide-sub-label label {
  display: none !important;
}

.entry-header {
  margin-bottom: 2rem;
}

.entry-header h1 {
  color: #00a8ff;
  font-family: "museo-slab",serif;
  font-size: 2em;
  margin-top: 1em;
}

.entry-header h1 a {
  text-decoration: none;
}

.page-id-1289 .entry-content {
  max-width: 1000px;
}

.latest-post {
  padding: 2rem 0 0;
}

@media (min-width: 774px) {
  .latest-post {
    padding: 6rem 0 0;
  }
}

.latest-post .entry-header {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  margin-bottom: 2em;
}

.latest-post .entry-header .post-image-large {
  margin-bottom: 10px;
}

.latest-post .entry-header h1 {
  font-family: "museo-slab",serif;
  font-size: 1.5em;
  padding: 0.5em 1em;
  margin: 0;
  position: relative;
  background-color: #313131;
}

@media (min-width: 550px) {
  .latest-post .entry-header h1 {
    font-size: 2em;
    padding: 0.5em 1.5em;
  }
}

@media (min-width: 774px) {
  .latest-post .entry-header h1 {
    position: absolute;
    padding: 0.5em 3em;
    top: 20px;
    left: -20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  }
}

.latest-post .entry-header h1 a {
  text-decoration: none;
  color: #fff;
}

.latest-post .entry-content {
  border-bottom: none;
}

.older-posts {
  background-color: #313131;
  padding: 0;
  color: #bcbcbc;
  margin-top: 1.5rem;
}

@media (min-width: 700px) {
  .older-posts {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    margin-top: 3rem;
  }
}

.older-posts .entry-header {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.older-posts .entry-header img {
  max-height: 100%;
  max-width: 100%;
  margin: 2em 0;
}

.older-posts .entry-header h1 {
  font-family: "museo-slab",serif;
  font-size: 1.5rem;
  padding: 2rem 2rem 0;
  margin: 0;
}

@media (min-width: 550px) {
  .older-posts .entry-header h1 {
    font-size: 2rem;
  }
}

.older-posts .entry-header h1 a {
  text-decoration: none;
  color: #fff;
}

.older-posts .entry-header .entry-meta {
  padding: 0 2rem 2rem;
}

.older-posts .entry-content {
  border-bottom: none;
  padding: 0 2rem;
}

.older-posts .author-block {
  width: 100%;
  clear: both;
  padding: 1rem;
  color: #313131;
  background-color: #d0d0d0;
  margin-bottom: 0;
}

.older-posts .author-block img.avatar {
  float: left;
  margin-right: 10px;
  max-width: 20%;
}

.older-posts .author-block .author-info {
  float: left;
  max-width: 75%;
}

.older-posts .author-block .author-info .byline {
  font-weight: bold;
  margin-bottom: 2px;
}

.older-posts .author-block .author-info .posted-on {
  margin-bottom: 2px;
}

.author-block {
  width: 100%;
  clear: both;
  margin-bottom: 10px;
}

.author-block img.avatar {
  float: left;
  margin-right: 10px;
}

.author-block .author-info {
  float: left;
}

.author-block .author-info .byline {
  font-weight: bold;
  margin-bottom: 2px;
}

.author-block .author-info .posted-on {
  margin-bottom: 2px;
}

footer.entry-footer span {
  clear: both;
}

.serm-title {
  color: #00a8ff;
  font-family: "museo-slab",serif;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 0;
  margin-bottom: 0;
  padding-top: 0.5em;
  text-align: center;
}

.sermon-archives h2 {
  text-align: left;
}

.sermon-info {
  margin-top: 6rem;
}

@media screen and (max-width: 755px) {
  .sermon-archives .su-column {
    margin: 0 0 0.05em !important;
  }
}

.legal h3 {
  margin-bottom: 1em;
}

.legal p {
  line-height: 1.4em;
  text-align: justify !important;
}

.legal ul {
  margin: 0 0 0 30px;
}

.su-spoiler-title {
  color: #00a8ff;
  font-size: 1.25em;
  font-weight: bold;
}

.su-tabs.my-custom-tabs {
  background-color: #00a8ff;
}

.su-tabs.my-custom-tabs .su-tabs-nav span {
  font-size: 1.3em;
  color: #fff;
}

.su-tabs.my-custom-tabs .su-tabs-nav span:hover {
  background-color: #fff;
  color: #00a8ff;
}

.su-tabs.my-custom-tabs .su-tabs-nav span.su-tabs-current {
  background-color: #fff;
  color: #00a8ff;
}

.su-tabs.my-custom-tabs .su-tabs-pane {
  padding: 1em;
  font-size: inherit;
  background-color: #FFF;
}

.next-steps .su-tabs.my-custom-tabs .su-tabs-nav span {
  width: 24%;
  text-align: center;
  margin-right: 1%;
  padding: 15px;
}

.charis .su-tabs.my-custom-tabs {
  background-color: #a41d34;
}

.charis .su-tabs.my-custom-tabs .su-tabs-nav span:hover {
  color: #a41d34;
}

.charis .su-tabs.my-custom-tabs .su-tabs-nav span.su-tabs-current {
  color: #a41d34;
}

.jubilee-bio-twitter {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.jubilee-bio-twitter a {
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
}

body.tkih {
  background: url(images/body.gif) repeat;
}

.promo {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.promo video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #000;
  display: block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

video#bgvid {
  -webkit-transition: 1s opacity;
          transition: 1s opacity;
}

.stopfade {
  opacity: .5;
}

#vidpause {
  text-shadow: none;
  box-shadow: none;
  font-weight: 300;
  top: 0;
  right: 0;
  position: absolute;
  margin: 25px;
  border: none;
  background: transparent;
  color: #fff;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
  padding: .5em;
}

#vidpause:hover {
  color: #00a8ff;
}

@media screen and (max-width: 450px) {
  .promo {
    background: url(images/bg.jpg) no-repeat center center;
    background-size: cover;
  }
  .promo video {
    display: none;
  }
  #vidpause {
    display: none;
  }
}

.touchevents .promo {
  background: url(images/bg.jpg) no-repeat center center;
  background-size: cover;
}

.touchevents .promo video {
  display: none;
}

.touchevents #vidpause {
  display: none;
}

.tkih .center-div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tkih .center-div p {
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.4em;
}

@media screen and (max-width: 1200px) {
  .tkih .center-div p {
    font-size: 1.15em;
  }
}

@media screen and (max-width: 650px) {
  .tkih .center-div p {
    font-size: 1em;
    max-width: 80%;
    line-height: 1.1;
  }
}

.cta-block {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .cta-block {
    max-width: 80%;
  }
}

.cta-block .tkih-cta {
  width: 49%;
  display: inline-block;
}

.cta-block .tkih-cta:last-child {
  float: right;
}

@media screen and (max-width: 650px) {
  .cta-block .tkih-cta {
    width: 100%;
    display: inherit;
    float: none !important;
    margin: 0 auto;
  }
  .cta-block .tkih-cta:first-child {
    margin-bottom: .15em;
  }
}

.tkih-dates {
  max-width: 600px;
  margin: 1em auto;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 650px) {
  .tkih-dates {
    max-width: 80%;
    margin: .25em auto;
  }
}

.sat-warn {
  color: #fff;
  font-style: italic;
  font-size: .75em;
  margin-top: .5em;
}

@media screen and (max-width: 650px) {
  .sat-warn {
    font-size: .5em;
  }
}

.tkih-date {
  width: 100%;
  max-width: 50%;
}

.full {
  max-width: 100% !important;
}

.first {
  float: left;
}

.second {
  float: right;
}

.tkih h1 {
  font-family: 'Novecentosanswide-Light', sans-serif;
  letter-spacing: 25px;
  text-transform: initial;
  font-size: 7em;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1250px) {
  .tkih h1 {
    font-size: 6em;
  }
}

@media screen and (max-width: 1075px) {
  .tkih h1 {
    font-size: 5em;
  }
}

@media screen and (max-width: 950px) {
  .tkih h1 {
    font-size: 4em;
  }
}

@media screen and (max-width: 835px) {
  .tkih h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 700px) {
  .tkih h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 700px) {
  .tkih h1 {
    letter-spacing: 15px;
  }
}

@media screen and (max-width: 475px) {
  .tkih h1 {
    letter-spacing: 5px;
  }
}

.tkih h3 {
  text-transform: uppercase;
  color: #fff;
  margin: .25em 0;
  font-size: 2em;
}

@media screen and (max-width: 900px) {
  .tkih h3 {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 650px) {
  .tkih h3 {
    font-size: 1.5em;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .tkih h3 {
    font-size: 1em;
  }
}

.tkih .site-branding {
  position: absolute;
  top: 0;
  margin: 25px;
}

.tkih .download-pakages, .tkih .social-pakages {
  display: none;
  max-width: 600px;
  padding: 1em;
  background-color: #000;
  margin: 2em auto;
  text-transform: uppercase;
  color: #fff;
}

.tkih .download-pakages .link-images, .tkih .social-pakages .link-images {
  width: 100%;
  float: left;
  margin: .7em 0;
  box-sizing: border-box;
}

.tkih .download-pakages .link-images img, .tkih .social-pakages .link-images img {
  display: inline-block;
  width: 100%;
  max-width: 13%;
  margin-right: 2%;
  float: left;
  box-sizing: border-box;
}

.tkih .download-pakages .link-images a, .tkih .social-pakages .link-images a {
  display: inline-block;
  background-color: #fff;
  padding: 17px;
  width: 85%;
  float: right;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
}

.tkih .download-pakages .link-images a:hover, .tkih .social-pakages .link-images a:hover {
  color: #00a8ff;
}

@media screen and (max-width: 600px) {
  .tkih .download-pakages .link-images img, .tkih .social-pakages .link-images img {
    display: none;
  }
  .tkih .download-pakages .link-images a, .tkih .social-pakages .link-images a {
    width: 100%;
  }
}

.tkih .download-pakages p, .tkih .social-pakages p {
  margin-bottom: 0;
}

@media screen and (max-width: 625px) {
  .tkih .download-pakages, .tkih .social-pakages {
    max-width: 90%;
  }
}

.tkih .invite-form {
  display: none;
  max-width: 600px;
  padding: 1em;
  background-color: #000;
  margin: 2em auto;
  color: #fff;
}

@media screen and (max-width: 625px) {
  .tkih .invite-form {
    max-width: 90%;
  }
}

.tkih .invite-form .gform_wrapper .gfield_required {
  color: #fff;
}

.tkih .invite-form .gform_wrapper .ginput_complex label, .tkih .invite-form .gform_wrapper .gfield_time_hour label, .tkih .invite-form .gform_wrapper .gfield_time_minute label, .tkih .invite-form .gform_wrapper .gfield_time_ampm label, .tkih .invite-form .gform_wrapper .gfield_date_month label, .tkih .invite-form .gform_wrapper .gfield_date_day label, .tkih .invite-form .gform_wrapper .gfield_date_year label, .tkih .invite-form .gform_wrapper .instruction {
  color: #fff;
}

.tkih .invite-form .gform_wrapper .gform_footer {
  text-align: center;
}

.tkih .invite-form .gform_wrapper .gform_footer input[type=submit] {
  background-color: rgba(255, 255, 255, 0);
  color: #fff !important;
  border: 2px solid #fff;
}

.tkih .invite-form .gform_wrapper .gform_footer input[type=submit]:hover {
  background-color: #fff;
  color: #00a8ff !important;
}

.tkih .invite-form .gform_wrapper .gform_footer input[type=submit]:focus {
  background-color: #fff;
  color: #00a8ff !important;
}

.tkih .invite-form .gform_wrapper .gform_footer input[type=submit]:active {
  background-color: #fff;
  color: #00a8ff !important;
}

.faq-block, .contest-details {
  display: none;
  max-width: 800px;
  padding: 1em;
  background-color: #000;
  margin: 2em auto;
  color: #fff;
}

@media screen and (max-width: 625px) {
  .faq-block, .contest-details {
    max-width: 90%;
  }
}

.faq-block p, .contest-details p {
  font-size: .85em;
}

.faq-block h4, .contest-details h4 {
  margin: 1em 0;
  color: #00a8ff;
  text-transform: uppercase;
  line-height: 1.3;
}

.tkih .promo-items {
  display: block;
  position: fixed;
  bottom: 30px;
  left: 40px;
  right: 40px;
  z-index: 1000;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .tkih .promo-items {
    bottom: 50px;
  }
}

.tkih .promo-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tkih .promo-items a {
  color: #666;
  text-decoration: none;
}

.tkih .promo-items a:hover {
  color: #00a8ff;
}

.tkih .promo-items li {
  background-color: #fff;
  float: left;
  margin: 0 1px 1px 0;
  padding: 17px;
  width: 19.5%;
  font-weight: 700;
  text-align: center;
}

.tkih .promo-items li:hover {
  color: #00a8ff;
}

@media screen and (max-width: 1200px) {
  .tkih .promo-items li {
    width: 49.5%;
    padding: 10px;
    font-size: .75em;
  }
  .tkih .promo-items li.last {
    width: 99.1%;
  }
}

.comments-area article footer {
  margin: 0 0 5px;
  overflow: hidden;
  position: relative;
  padding: 10px;
}

.comments-area ol {
  list-style: none;
}

.comment-body {
  margin-bottom: 1rem;
}

h2.comments-title {
  margin-bottom: 1.5em;
}

.comment-content {
  border: 1px solid #ccc;
  padding: 10px;
}

.reply {
  margin-top: 10px;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
	* Don't show links that are fragment identifiers,
	* or use the `javascript:` pseudo protocol
	*/
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
