.container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
}

.site-main {
    width: 100%;
    max-width: 60.25rem;
    margin: 0 auto;
    @media screen and ( max-width: 1000px ) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.content-area {
	ul, ol {
		margin-bottom: 40px;
	}
}

.home-tagline {
	font-size: 2.25em;
	text-align: center;
}

.sticky {
	display: block;
}

.entry-content {
	margin: 0 auto;
	padding: 0;
	@extend .clearfix;
	@include breakpoint (774px) {
		padding: 0;
	}
	.single-vlc_location & {
		padding: 20px 0 60px;
	}
	h2 {
		font-size: 2em;
		line-height: 1.1;
		text-align: center;
		text-transform: initial;
	}
	ul {
		margin: 0;
		padding-left: 2em;
		@include breakpoint (tall) {
			margin: 0 3em;
		}
		li {
			padding-left: 0;
			line-height: 2;
			@include breakpoint (tall) {
				padding-left: 0;
			}
		}
	}
	.cta-link {
		color: $gray;
		font-size: 2em;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		display: block;
		width: auto;
		margin: 2em auto 0;
		&:after {
			font-family: 'FontAwesome';
			content: " \f04b";
		}
	}
}

.hentry {
	margin: 0;
}

.single-post .hentry {
    margin: 3rem 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: block;
}

.page-content,
.entry-content,
.entry-summary {
	// margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

audio {
    width: 100% !important;
}
