.site-footer {
	color: #555555;
	padding: 20px 0;
	text-align: center;
    clear: both;
    border-top: 2px solid #555555;
    background-color: #efefef;
    margin-top: 2rem;    
}

.join-us {
	padding-bottom: 20px;
	font-family: "museo-slab", serif;
	a {
		text-decoration: none;
	}
}

.copyright {
	font-size: .75em;
	margin-bottom: 0;
	font-family: "museo-slab", serif;
	a {
		text-decoration: underline;
	}
}