.site-header {
    position: relative;
    background-size: cover;
    background-position: center 
}

.single-post .outer-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.55);
}

.site-branding {
	float: left;
	margin: 0px auto;
	padding: 5px 20px;
	position: relative;
	z-index: 999;
	@include breakpoint(1200px) {
		padding: 5px 0;
	}
}

.logo {
	text-indent: -9999px;
	display: block;
	background: url(../images/vlc-logo.png) no-repeat;
	width: 100px;
	height: 100px;
	position: absolute;
	background-size: 100px 100px;
}


.site-title {
	height: 100px;
	margin-bottom: 0;
}

.location-title {
	text-align: center;
	color: #fff;
	font-size: 8em;
	margin: 0;
	text-transform: uppercase;
}

.page-title {
	color: $lt_blue;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 70px;
	margin-bottom: 0;
	@include breakpoint(tall) {
		font-size: 4em;
	}
}

.site-navigation {
	text-transform: uppercase;
	margin: 0px auto;
	padding: 0;
	position: inherit;
	line-height: 100px;
	@include breakpoint(tall) {
		padding: 5px 0;
        float: right;
        width: 100%;
        max-width: 90%;    
	}
}



.hero-content {

	@extend .clearfix;
    .intro {
        width: 100%;
        padding: 3rem 1rem;
        text-align:center;  
        clear:both;
        @include breakpoint (774px) {
            padding: 6rem 2rem;
        }
    }    
	h2, h3, .video-link {
		color: #fff;
		font-weight: normal;
	}
	h2 {
		text-transform: none;
		font-size: 2em;
		line-height: 1.25;
		margin: 0 auto;
		padding-bottom: 15px;
		font-family: "museo-sans", sans-serif;
		@include breakpoint(tall) {
			font-size: 3em;
		}
	}
	h3 {
		font-size: 1.125em;
		font-family: "museo-slab", serif;
	}
	.give-button {
		@extend .clearfix;
		margin-bottom: 1em;
        margin-right: 2.5%;
        margin-left: 2.5%;
	}
	.other-ways-to-give {
		color: #fff;
		text-decoration: none;
		// font-weight: 700;
		padding-top: 10px;
		display: inline-block;
        &:hover {
            color: $lt_blue;
        }
	}
	.video-link {
		font-size: 1.625em;
		text-decoration: none;
		font-family: "museo-slab", serif;
		font-weight: 700;
		padding: 30px 0;
		display: block;
	}
}

.single-vlc_location .hero-content {
	h2 {
		text-transform: uppercase;
		font-size: 2.5em;
		line-height: 1.25;
		margin: 0 auto;
		padding-bottom: 15px;
		font-family: "museo-sans", sans-serif;
		@include breakpoint(tall) {
			font-size: 4em;
		}
	}
}
