html {
    margin-top: 0px !important;    
}

body,
button,
input,
select,
textarea {
  color: #666666;
  font-size: 100%;
  line-height: 1.125em;
  font-family: sans-serif;
  font-family: "museo-sans", sans-serif;
}

body {
  background: #fff;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "museo-slab", serif;
}

h2 {
  font-size: 2.3em;
  margin-bottom: .6em;
  margin-top: 1.5em;
  color: $purple;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "museo-slab", serif;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.25em;
  margin-bottom: .6em;
  margin-top: 1.5em;    
}

p {
  font-size: 1.15em;
  line-height: 1.6em;
  margin-bottom: 1.25em;
 
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid $purple;
  margin: 1.5em 10px;
  padding: 1em;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;    
}
blockquote:before {
  color: $purple;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  font-family: "museo-slab", serif;    
}
blockquote p {
  display: inline;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  font-weight: bold;
}

a {
  color: $purple;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}