$gray: #bfbfbf;
$maroon: #752d44;
$lt_blue: #00a8ff;
$purple: #00a8ff;
$teal: #00a8ff;

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


@mixin breakpoint($point) {
  @if $point == venti {
    @media (min-width: 1600px) { @content; }
  }
  @else if $point == grande {
    @media (min-width: 960px) { @content; }
  }
  @else if $point == tall {
    @media (min-width: 700px)  { @content; }
  }
  @else {
    @media (min-width: $point) { @content; }
  }
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}