@mixin popup_element() {
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
}

#element_to_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
}
.b-close {
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

.watch-video {
    cursor: pointer;
}

#video-to-watch {
    @include popup_element();
}