.button {
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1.1;
	text-decoration: none;
	padding: .5em 1em;
	max-width: 300px;
}

.button-blue, .button-purple, .button-teal {
	color: $lt_blue !important;
	background-color: #fff;
    border: 2px solid $lt_blue;
	@extend .button;
        &:hover {
            background-color: $lt_blue;
            color: #fff !important;
        }
        &:focus {
            background-color: $lt_blue;
            color: #fff !important;
        }
        &:active {
            background-color: $lt_blue;
            color: #fff !important;
        }
}


.button-white {
	background-color: rgba(255, 255, 255, .0);
  	color: #fff !important;
  	border: 2px solid #fff;
    @extend .button;
        &:hover {
	        background-color: #fff;
  	        color: $purple !important;
            }
        &:focus {
	        background-color: #fff;
  	        color: $purple !important;
            }
        &:active {
	        background-color: #fff;
  	        color: $purple !important;
            }
}

.button-tkih {
	background-color: rgba(255, 255, 255, .0);
  	color: #fff !important;
  	border: 2px solid #fff;
    padding-bottom: .5em !important;
    @extend .button;
       &:hover {
	        background-color: #fff;
  	        color: #190F58 !important;
            }
        &:focus {
	        background-color: #fff;
  	        color: #190F58 !important;
            }
        &:active {
	        background-color: #fff;
  	        color: #190F58 !important;
            }
}

.button-white-alt {
	background-color: rgba(255, 255, 255, .0);
  	color: #fff !important;
  	border: 2px solid #fff;
    @extend .button;
        &:hover {
	        background-color: #fff;
  	        color: $lt_blue !important;
            }
        &:focus {
	        background-color: #fff;
  	        color: $lt_blue !important;
            }
        &:active {
	        background-color: #fff;
  	        color: $lt_blue !important;
            }
}



