.comments-area article footer {
	margin: 0 0 5px;
	overflow: hidden;
	position: relative;
	padding: 10px;
}

.comments-area ol {
    list-style: none;
}

.comment-body {
    margin-bottom: 1rem;
}


h2.comments-title {
    margin-bottom: 1.5em;
}

.comment-content {
    border: 1px solid #ccc;
	padding: 10px;
}

.reply {
    margin-top: 10px;
}