.page-template-page-current-series {
	.site-content {
		text-align: center;
		a {
			color: $teal;
			&:hover, &:visited {
				color: $teal;
			}
		}
	}
	ol {
		max-width: 60%;
		display: block;
		margin: 0 auto 40px;
		text-align: left;
		li {
			padding-left: 2em;
		}
	}
}