.current-video {
	clear: both;
	text-align: center;
	h3 {
		color: #fff;
		font-size: 1.625em;
		font-family: "museo-slab", serif;
		font-weight: 400;
		padding-top: 15px;
		padding-bottom: 0;
        margin: 0;
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 83.2%;
	padding-top: 25px;
	height: 100% !important;
  	margin: 0 1em;
    & iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
}

.archivevideoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 100% !important;
    & iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
}

