.events {
	max-width: 1000px;
	margin: 0 auto;
	h2 {
		text-align: center;
	}
}

.event {
	border: 1px solid #ddd;
	padding: 10px;
	width: 300px;
	.attachment-post-thumbnail {
		margin-bottom: 10px;
	}
	.event-title {
		margin-bottom: .25em;
	}
	.event-description {
		font-size: 1em;
		margin-bottom: 40px;
	}
	.gform_wrapper {
		margin: 0;
	}
}

.get-connected {
	border-top: 1px solid #ddd;
	padding-top: 20px;
	margin-top: 20px;
	h3 {
		font-size: 1.2em;
	}
	p {
		font-size: 1em;
	}
}