.page-template-page-form {
	
	.content-area {
		padding: 0;
        margin-top: -100px;
        position: relative;
        margin-bottom: 6rem;
        @media screen and (max-width: 755px) {
            margin-top: -50px;
            margin-bottom: 3rem;
        }
	}
	.entry-content {
		padding: 2em 5em;
		background-color: #f7f7f7;
		border-radius: 20px;
		border: 1px solid $gray;
		ul {
			li {
				padding: 0;
                line-height: 1;
			}
		}
        @media screen and (max-width: 755px) {
            padding: 2em;
        }
    }
    
}

.gform_wrapper {
		margin: 0;
		max-width: 100%;
        .limit-text {
            color: $lt-blue;
        }
        .su-spoiler-content {
            padding-left: 3em;
            padding-right: 3em;
        }
		.contact-us {
			text-align: center;
		}
		.schedule-a-visit {
			li {
				margin-bottom: 1em;
			}
		}
        .top_label .gfield_label {
            color: $purple;
            text-align: left;
        }
		.gform_body{
			.gfield_label {
				color: $purple;
				font-size: .875em;
			}
			.gsection_title {
				color: $purple;
				text-align: left;
			}
			.gsection {
				border: none;
			}
			.select-option {
				padding-top: 20px;
				padding-bottom: 40px;
				margin-bottom: 20px;
			}
			.giving-info {
				margin-bottom: 40px;
				a {
					color: $purple;
					font-weight: 700;
					font-size: 1.3em;
					line-height: 1.75;
					text-decoration: none;
				}
			}
			.left-align {
				text-align: left;
			}
			p {
				font-size: 1rem;
			}
		}
		.gform_footer {
			input[type="submit"] {
				display: block;
				background: $purple;
				color: #fff;
				max-width: 100%;
				border: 1px solid $gray;
				border-radius: 0;
				box-shadow: none;
				text-shadow: none;
				padding: .5em 5em;
				line-height: 1.25;
			}
		}
	}
	.required-fields {
		.gsection_title {
			display: block;
			width: 100%;
			padding: 1em 0;
			border-bottom: 1px solid $gray;
		}
	}
    .gform_wrapper.gf_browser_gecko select {
        width: 100%;
    }
    .gform_center_title h2{
	    text-align: center !important;
    }
    .validation_error {
	    line-height: 1.25em;
        width: inherit !important;
    } 
    @media screen and (max-width: 755px) {
.gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half, .gform_wrapper li.gfield.gf_3col ul.gfield_checkbox li, .gform_wrapper li.gfield.gf_3col ul.gfield_radio li, .gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox li, .gform_wrapper li.gfield.gf_list_3col ul.gfield_radio li {
        clear: both !important;
        width:100% !important;
        }
        
    .gform_wrapper .gfield_date_dropdown_day, .gform_wrapper .gfield_date_dropdown_month, .gform_wrapper .gfield_date_dropdown_year {
    width: 100% !important;
    margin-bottom: .5em !important;
}
        
        .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.no_last_name span, .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span, .gform_wrapper .ginput_complex.ginput_container.no_first_name.has_middle_name.has_last_name span {
    width: 100% !important;
}
        
        .gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right {
    width: 100% !important;
}
        
        
    }
    
    .gform_wrapper .top_label .gfield_label {
        margin: 0 0 .25em !important;
        line-height: 1 !important;
    }
    
    .gform_wrapper label.gfield_label+div.ginput_container {
        margin-top: 0 !important;
        margin-bottom: 1em !important;
    }

.gform_wrapper li.gf_list_inline ul.gfield_checkbox li {
        margin: 0 1.5em 0 0 !important;
}

.gsurvey-rating {
    margin-bottom: 1em;
}

.gform_wrapper ul.gfield_checkbox {
    margin-bottom: 1em !important;
}
