body.tkih {
    background: url(images/body.gif) repeat;
}

.promo {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
    video {
        position: absolute;           // Make it full screen (fixed)
        right: 0;
        bottom: 0;
        z-index: -1;               // Put on background
        min-width: 100%;           // Expand video
        min-height: 100%;
        width: auto;               // Keep aspect ratio
        height: auto;
        top: 50%;                  // Vertical center offset
        left: 50%;                 // Horizontal center offset
        transform: translate(-50%,-50%);         // Cover effect: compensate the offset
        background-color: #000;
        display: block;
        transform-style: preserve-3d;
    }
}

video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }


#vidpause {
    text-shadow: none;
    box-shadow: none;
    font-weight: 300;
    top: 0;
    right: 0;
    position: absolute;
    margin: 25px;
    border: none;
    background: transparent;
    color: #fff;
    text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
    padding: .5em;
    &:hover {
        color: $lt-blue;
    }
}

@media screen and (max-width: 450px) {
    
    .promo {
        background: url(images/bg.jpg) no-repeat center center;
        background-size: cover;
    }
    
    .promo video {
        display: none;
    }
    
    #vidpause {
        display: none;
    }
    
}

.touchevents .promo {
    background: url(images/bg.jpg) no-repeat center center;
    background-size: cover;
}

.touchevents .promo video {
    display: none;
}

.touchevents #vidpause {
    display: none;
}

.tkih .center-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    p {
        color: #fff;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        font-size: 1.4em;
        @media screen and (max-width: 1200px) {
            font-size: 1.15em;
        }
        @media screen and (max-width: 650px) {
            font-size: 1em;
            max-width: 80%;
            line-height: 1.1;
}
    }
}

.cta-block {
    max-width: 600px;
    margin: 0 auto;
    @media screen and (max-width:650px) {
        max-width: 80%;
    }
    .tkih-cta {
        width: 49%;
        display: inline-block;
        &:last-child {
            float: right;
        }
        @media screen and (max-width: 650px) {
            width: 100%;
            display: inherit;
            float: none !important;
            margin: 0 auto;
            &:first-child {
                margin-bottom: .15em;    
            }     
        }
    }
}

.tkih-dates {
    max-width: 600px;
    margin: 1em auto;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    @media screen and (max-width: 650px) {
        max-width: 80%;
        margin: .25em auto;
}
}

    .sat-warn {
        color: #fff;
        font-style: italic;
        font-size: .75em;
        margin-top: .5em;
        @media screen and (max-width: 650px){
            font-size: .5em;
        }
    }


.tkih-date {
    width: 100%;
    max-width: 50%;
}

.full {
    max-width: 100% !important;
}

    .first {
        float: left;
    }
    .second {
        float: right;
    }

.tkih h1 {
    font-family: 'Novecentosanswide-Light', sans-serif;
    letter-spacing: 25px;
    text-transform: initial;
    font-size: 7em;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    @media screen and (max-width: 1250px) {
        font-size: 6em;
    }
    @media screen and (max-width: 1075px) {
        font-size: 5em;
    }
    @media screen and (max-width: 950px) {
        font-size: 4em;
    } 
    @media screen and (max-width: 835px) {
        font-size: 3em;
    }    
    @media screen and (max-width: 700px) {
        font-size: 2em;
    }   
    @media screen and (max-width: 700px) {
        letter-spacing: 15px;
    }   
    @media screen and (max-width: 475px) {
        letter-spacing: 5px;
    } 
}

.tkih h3 {
    text-transform: uppercase;
    color: #fff;
    margin: .25em 0;
    font-size: 2em;
    @media screen and (max-width: 900px) {
        font-size: 1.75em;
    }
    @media screen and (max-width: 650px) {
        font-size: 1.5em;
        margin-top: 0;
    } 
    @media screen and (max-width: 500px) {
        font-size: 1em;
    }       
}

.tkih .site-branding {
    position: absolute;
    top: 0;
    margin: 25px;
}


.tkih .download-pakages, .tkih .social-pakages {
    display: none;
    max-width: 600px;
    padding: 1em;
    background-color: #000;
    margin: 2em auto;
    text-transform: uppercase;
    color: #fff;
    .link-images {
        width: 100%;
        float: left;
        margin: .7em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;        
        img {
            display: inline-block;
            width: 100%;
            max-width: 13%;
            margin-right: 2%;
            float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;            
        }
        a {
            display: inline-block;
            background-color: #fff;
            padding: 17px;
            width: 85%;
            float: right;
            font-weight: 700;
            text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;            
            &:hover {
                color: $lt_blue;
            }
        }    
        @media screen and (max-width: 600px) {
            img {
                display: none;
            }
            a {
                width: 100%;
            }
        }    
    }
    p {
        margin-bottom: 0;
    }
    @media screen and (max-width: 625px) {
        max-width: 90%;
    }
}

.tkih .invite-form {
    display: none;
    max-width: 600px;
    padding: 1em;
    background-color: #000;
    margin: 2em auto;
    color: #fff;
    @media screen and (max-width: 625px) {
        max-width: 90%;
    }
    .gform_wrapper .gfield_required {
        color: #fff;
    }
    .gform_wrapper .ginput_complex label, .gform_wrapper .gfield_time_hour label, .gform_wrapper .gfield_time_minute label, .gform_wrapper .gfield_time_ampm label, .gform_wrapper .gfield_date_month label, .gform_wrapper .gfield_date_day label, .gform_wrapper .gfield_date_year label, .gform_wrapper .instruction {
        color: #fff;
    }
    .gform_wrapper .gform_footer {
        text-align: center;
    }
    .gform_wrapper .gform_footer input[type=submit] {
        background-color: rgba(255, 255, 255, .0);
  	color: #fff !important;
  	border: 2px solid #fff;
    @extend .button;
        &:hover {
	        background-color: #fff;
  	        color: $lt_blue !important;
            }
        &:focus {
	        background-color: #fff;
  	        color: $lt_blue !important;
            }
        &:active {
	        background-color: #fff;
  	        color: $lt_blue !important;
            }
    }
}

.faq-block, .contest-details {
    display: none;
    max-width: 800px;
    padding: 1em;
    background-color: #000;
    margin: 2em auto;
    color: #fff;
    @media screen and (max-width: 625px) {
        max-width: 90%;
    }    
    p {
        font-size: .85em;
    }
        h4 {
            margin:1em 0;
            color: $lt-blue;
             text-transform: uppercase;
            line-height: 1.3;
        }    
}

.tkih .promo-items {
    display: block;
    position: fixed;
    bottom: 30px;
    left: 40px;
    right: 40px;
    z-index: 1000;
    text-transform: uppercase;
    cursor:pointer;
    @media screen and (max-width: 980px) {
        bottom: 50px;        
    }    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        color: #666;
        text-decoration: none;
        &:hover {
            color: $lt_blue;
        }
    }
    li {
        background-color: #fff;
        float: left;
        margin: 0 1px 1px 0;
        padding: 17px;
        width: 19.5%;
        font-weight: 700;
        text-align: center;
        &:hover {
            color: $lt_blue;
        }
        @media screen and (max-width: 1200px) {
            width: 49.5%;
            padding: 10px;
            font-size: .75em;
            &.last {
                width: 99.1%;
            }
        }
        
    }
}

