.parallax-scroll {
    background-image: url(https://victorylifechurch.com/wp-content/uploads/2015/06/Duane-Teaching-03.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    width: 100%;
}


.home-snippet {
	color:#fff !important;
  	text-align: center;
    padding: 3em 1em;
    max-width: 800px;
    margin: 0 auto;
    .rowtitle {
	font-weight: bold;
    }
    h2 {
	color:#fff !important;
    }
}

.home-gallery {
	margin: 3em 0;
    padding: 0 2em;
    .su-custom-gallery-slide {
        padding: 1% !important;
        max-width: 50% !important;
        margin: 0 !important;
        @include breakpoint(tall) {
            max-width: 25% !important;
        }
        img {
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            border: none;
        }
    }
}
