.facetwp-facet {

 button, input, select, textarea {
    display: block;
    font-size: 100%;
    margin: 0 0 5px !important;
    vertical-align: baseline;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
            display: block;
            float: left;
            margin-right: 5% !important;
            width: 45%;
            margin-bottom: 40px !important;
        }
}

.facetwp-pager {
    margin-top: 3rem;
}

.life-groups {
	width: 100%;
    margin-top: 3em;
	@extend .clearfix;
	p {
		font-size: 1em;
		line-height: 1.5;
	}
    h2 {
        font-size: 3em;
    }
	.life-group {
		width: 100%;
		margin-bottom: 20px;
		.life-group-details {
			border: 2px solid $purple;
            border-top: none;
			padding: .75em;
			margin-bottom: 5px;
            display:none;
            img {
				 border: medium none;
                 display: block;
                 float: none;
                 max-width: 100%;
                 margin: 0 auto 15px;
                @include breakpoint(tall) {
                     float: right;
                     margin: 0;
                     max-width: 40%;
                }
                
			}
            .lifegroup-info {
                    float: none;
                    width: 100%;
                    position: relative;
                .lifegroup-block {
                    margin-bottom: 10px;
                h4 {
                    font-weight: 700;
                    font-family: "museo-slab", serif;
                    color: $purple;
                    float: left;
                    width: 50%;
                    display: block;
                }
                span {
                    float: right;
                    width: 50%;
                    display: block;
                    }
                }
                @include breakpoint(tall) {
                    float: left;
                    width: 60%;
                    .lifegroup-block {
                    h4 {
                        width: 33%;
                    }
                    span {
                        width: 66%;
                        }
                    }
                }
            }
            .lg-description {
                        float: left;
                        width: 100%;
                        display: block;
                        p {
                            margin-bottom: 0;
                            padding: 0 20px;
                        }
            }
        }
		.life-group-title, .lg-form-link {
			font-size: 1.25em;
			font-weight: bold;
			color: $purple;
            display: block;
            clear: both;
		}
		.life-group-title {
            cursor: pointer;
            background-color: $purple;
            color: #fff;
            padding: .50em 0 0.30em 1em;
            border: 2px solid $purple;
            margin-bottom: 0;
            margin-top: .5em;
            &:hover, &:active {
                background-color: #fff;
                color: $purple;
            }
		}
		.lg-form-link {
			    margin-bottom: 0;
                cursor: pointer;
                float: left;
                padding: 10px 0 5px;
		}
		.lg-form-container {
			display: none;
			border: 1px solid $purple;
			padding: 10px 20px;
			.gform_wrapper {
				margin-left: auto;
				margin-right: auto;
				li {
					padding-left: 0;
				}
				.top_label {
					.gfield_label {
						color:  $purple;
					}
				}
			}
			input[type="submit"] {
				display: block;
				background: $purple;
				color: #fff;
				width: 50%;
				margin: 0 auto;
				border: 1px solid $gray;
				border-radius: 0;
				box-shadow: none;
				text-shadow: none;
				padding: .5em 1em;
				line-height: 1.25;
			}
		}
	}	
}
