.vlc_location {
	padding-right: 1%;
	padding-left: 1%;    
	h2 {
		font-size: 2.25em;
		margin: 1em 0 .75em;
		@include breakpoint(tall) {
			font-size: 3em;
		}
	}
	.su-row {
		margin-bottom: 2em;
		@include breakpoint(tall) {
			margin-bottom: 3em;
		}
		@include breakpoint(grande) {
			margin-bottom: 4em;
		}
		.su-column {
			padding: .75em;
		}
		h3 {
			color: $purple;
			margin: 1em 0 .75em;
			font-size: 1.25em;
		}
		p {
			margin-bottom: 1em;
			font-size: 1em;
			line-height: 1.5;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		&.with-borders {
			.su-column {
				border: 1px solid $gray;
				img {
					border: 1px solid $gray;
				}
			}
		}
	}
    
    .location-gallery img {
        max-width: 100%;
        padding: .15em;
    }
    @media screen and (max-width: 700px) {
       .gallery-columns-4 .gallery-item {
            max-width: 50%;
        }
    }
    .su-spoiler-style-fancy {
        border-radius: 0px;
        color: #00a8ff!important;
        background-color: #fff;
        border: 2px solid #00a8ff;
        max-width: 300px;
        & > .su-spoiler-title {
            border-radius: 0px;
            color: #00a8ff!important;
            background-color: #fff;
            border-bottom: 2px solid #00a8ff;
            text-align: center; 
            font-weight: 700;
            line-height: 1.1;
            text-decoration: none;
            padding: 1em;
            &:hover {
                color: #fff !important; 
                background-color: #00a8ff!important;
            }
        }
        .su-spoiler-icon {
            top: 11px;
        }
    }
}


