.location-information-wrapper {
    clear: both;
    background-color: #313131;
    padding: 3rem;
    @media screen and (max-width: 700px) {
        padding: 3rem 1rem;
    }
    .location-information {
        clear: both;
        width: 100%;
        max-width: 60.25rem;
        margin: 0 auto;
        .location-left {
            width: 50%;
            float: left;
            padding-right: 1rem;
            text-align: right;
            @media screen and (max-width: 700px) {
                width: 100%;
                float: none;
                clear: both;
                padding: 0;
                text-align: center;
                margin-bottom: 1.5rem;
            }
        }
        .location-right {
            width: 50%;
            float: right;
            @media screen and (max-width: 700px) {
                width: 100%;
                float: none;
                clear: both;
                padding: 0;
                text-align: center;
            }
        }
        h2 {
            text-transform: uppercase;
            margin-top: 0;
            color: #fff;
            text-align: center;
            line-height: 1;
            @media screen and (max-width: 700px) {
                font-size: 1.75em;
            }
        }
        h3 {
            margin-top: .75rem;
            margin-bottom: 0;
            color: #fff;
        }
        .locat-info {
            color: #b9b9b9;
            font-size: 1.5em;
            line-height: 1.25em;
            font-weight: 100;
        }
        .service-times {
            padding-left: 1rem;
            border-left: 1px solid #fff;
            @media screen and (max-width: 700px) {
                border-left: none;
                border-top: 1px solid #fff;
                padding-left: 0;
                padding-top: 1rem;
            }
            .service-day {
                color: $lt-blue;
                font-weight: normal;
                font-size: 1.25em;
                margin-top: .6rem;
            }
        }
        .get_directions a {
            text-decoration: none;
            font-weight:bold;
            font-size: 1.5em;
            line-height: 1.25em;
        }
    }
} 



