.page-template-page-locations {
	.locations {
		color: #fff;
		text-align: center;
		font-size: 2.75em;
		padding: 0;
	}
	.locations-list {
		width: 100%;
		padding: 0 20px 40px;
		@extend .clearfix;
		@include breakpoint(tall) {
			width: 85%;
			float: right;
			padding: 0 0 40px;
		}
	}
	.location-name {
		color: #fff;
		display: block;
		float: left;
		clear: none;
		width: 50%;
		font-size: .875em;
		line-height: 1.75;
		text-align: center;
		text-decoration: none;
		font-weight: 700;
		@include breakpoint(tall) {
			width: 33.333%;
			font-size: 1em;
			text-align: left;
		}
	}
    .site-footer {
        margin-top: 0;    
    }
}