.nav-outter-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 10px;
    padding-top: 10px;
}

.general-nav {
    display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 995;
	clear: both;
	background: #313131;
	padding-top: 130px;
	width: 100%;
	@include breakpoint(tall) {
		z-index: auto;
		display: block;
		position: relative;
		float: right;
		clear: none;
		padding: 0;
        margin:0 auto;
		background: none;
		.top-menu-content {
			display: none;
		}
	}
	ul {
		margin: 0;
		@include breakpoint(tall) {
			margin: inherit;
            float: right;
		}
		li {
			font-weight: bold;
			list-style-type: none;
			line-height: 44px;
			clear: both;
			padding-left: 20px;
			overflow: hidden;
            &.menu-toggle-li {
                display: none;
            }
			@include breakpoint(tall) {
				display: inline;
				clear: none;
				line-height: inherit;
				padding-left: 0;
                &.menu-toggle-li {
                display: inline;
            }
			}
			&:hover {
				background-color: #232323;
			}
			a {
				color: #fff;
				text-decoration: none;
				display: block;
				float: left;
				margin-right: 1rem;
				width: 100%;
				@include breakpoint(tall) {
					width: auto;
				}
				@include breakpoint(grande) {
					margin-right: 2rem;
				}
				&:hover {
					@include breakpoint(tall) {
						color: #ff3333;
					}
				}
			}
		}
	}
}

.menu-toggle {
	float: right;
	text-transform: uppercase;
	color: #fff;
	border: none;
	cursor: pointer;
	background: transparent;
	font-size: 1.5em;
	position: relative;
	z-index: 999;
	padding-right: 20px;
    text-align: right;
    margin-right: 0 !important;
	@include breakpoint(1200px) {
		padding-right: 0px;
	}
	&:hover {
		color: #ddd;
	}
}

.menu-toggle-mobile {
    display: inline;
    @include breakpoint(tall) {
    display: none;
}
}

.general-nav ul li:hover > a,.general-nav ul li:focus > a,.general-nav ul li:active > a,.menu-toggle:hover, .menu-toggle:focus, .menu-toggle:active, .hero-content .video-link:hover,.hero-content .video-link:focus,.hero-content .video-link:active {
  	color: $purple;
}

.top-menu-wrap {
	background: #313131;
	padding: 120px 0 40px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 995;
	width: 100%;
	display: none;
    border-bottom: 5px solid $lt-blue;
	@extend .clearfix;
}

.top-menu-content {
	margin: 0 auto;
    max-width: 60.875em;
    .column {
        @include breakpoint(tall) {
            float: left;
            width: 25%;
            border-left: 1px solid #2C3B3F;
            padding-left: 3%;
        }
    	.widget-title {
            color: #fff;
            background-color: #474747;
            line-height: 48px;
            padding-left: 20px;
            margin-top: 1px;
            font-size: 1.25em;
            margin-bottom: 0;
            @include breakpoint(tall) {
        		color: #fff;
        		margin-bottom: 20px;
                padding-left: 0;
                background-color: transparent;
        		text-transform: uppercase;
                font-size: 1.5em;
        		font-weight: 200;
        		font-family: 'Novecentosanswide-Bold', sans-serif;
            }
            &.selected {
                padding-left: 10px;
                border-left: 10px solid #3981a7;
            }
            &:hover {
                padding-left: 10px;
                border-left: 10px solid #3981a7;
                @include breakpoint(tall) {
                    padding-left: 0;
                    border: none;
                }
            }
    	}
    	ul {
            display: none;
            @include breakpoint(tall) {
                margin: 0;
                display: block;
            }
    		li {
                font-family: "museo-sans", sans-serif;
                list-style-type: none;
    			@include breakpoint(tall) {
                    margin-bottom: 10px;
                    line-height: 1.125em;
                    text-transform: initial;
                }
    			a {
    				text-decoration: none;
    				@include breakpoint(tall) {
                        color: $lt_blue;
                    }
    				&:hover {
    					color: #fff;
    				}
    			}
    		}
    	}
    }
}

.new-menu-class {
    position:relative;
  	padding-left:1.25em !important;
    &:before {
        position:absolute;
        font-family: FontAwesome;
        top:0;
        left:-5px;
        content: "\f005"; 
  		color: $purple;
  		padding-right: 0.5em;
    	left: 0;
    }
    &:hover:before {
	color: #fff;
    }
    @media screen and (max-width: 700px) {
          padding-left: 2.5em !important;
             &:before {
	            margin-left: 1em;
                color: #fff;
                }
    }
}
