.related-posts {
	width: 100%;
	@extend .clearfix;
	p {
		font-size: 1em;
		line-height: 1.5;
	}
	.related-post {
		width: 100%;
		margin-bottom: 20px;
		@include breakpoint(769px) {
			float: left;
			clear: right;
			width: 46%;
			margin: 0 2% 20px;
		}
		.post-details {
			border: 1px solid $gray;
			padding: .75em;
			margin-bottom: 5px;
			img {
				 border: none;
                 display: block;
                 margin: 0 auto;
			}
            .post-content {
                ul {
                    color: #000;
                    font-size: 0.8em;
                    margin: 0 0.5em 1em;
                    li {
                        line-height: 1.7;
                    }
                }
                
            }
		}
		.post-title, .form-link {
			font-size: 1.25em;
			font-weight: bold;
			color: $purple;
		}
		.post-title {
			margin: 1em 0 .75em;
		}
		.form-link {
			margin-bottom: 0;
			cursor: pointer;
		}
		.form-container {
			display: none;
			border: 1px solid $gray;
			padding: 10px 20px;
			margin-bottom: 20px;
			.gform_wrapper {
				margin-left: auto;
				margin-right: auto;
				li {
					padding-left: 0;
				}
				.top_label {
					.gfield_label {
						color:  $purple;
					}
				}
			}
			input[type="submit"] {
				display: block;
				background: $purple;
				color: #fff;
				width: 50%;
				margin: 0 auto;
				border: 1px solid $gray;
				border-radius: 0;
				box-shadow: none;
				text-shadow: none;
				padding: .5em 1em;
				line-height: 1.25;
			}
		}
	}	
}