.entry-header {
    margin-bottom: 2rem;
    h1 {
        color: $lt-blue;
        font-family: "museo-slab",serif;
        font-size: 2em;
        margin-top: 1em;  
        a {
            text-decoration: none;
        }
    }
}

.page-id-1289 .entry-content, {
    max-width: 1000px;
}

.latest-post {
    padding: 2rem 0 0;
    @include breakpoint (774px) {
        padding: 6rem 0 0;
    }
    .entry-header {
        margin: 0 auto;
        max-width: 1000px;
        position: relative; 
        margin-bottom: 2em;
        .post-image-large {
            margin-bottom: 10px;
        }
        h1 {
            font-family: "museo-slab",serif;
            font-size: 1.5em;
            padding: .5em 1em;
            margin: 0;
            position: relative;
            background-color: #313131;
            @include breakpoint (550px) {
                font-size: 2em;
                padding: .5em 1.5em;
            }
            @include breakpoint (774px) {
                position: absolute;
                padding: .5em 3em;
                top: 20px;
                left: -20px;
                -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
                -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
                box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
            }
            a {
                text-decoration: none; 
                color: #fff;
            }
        }
    }
    .entry-content {
        border-bottom: none;
    }
}

.older-posts {
    background-color: #313131;
    padding: 0;
    color: #bcbcbc;
    margin-top: 1.5rem;
    @include breakpoint (700px) {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
        float: left;
        margin-top: 3rem;
    }
    .entry-header {
        margin: 0 auto;
        max-width: 1000px;
        position: relative; 
        img {
            max-height:100%; 
            max-width:100%;
            margin: 2em 0;
        }
        h1 {
            font-family: "museo-slab",serif;
            font-size: 1.5rem;
            padding: 2rem 2rem 0;
            margin: 0;
            @include breakpoint (550px) {
                font-size: 2rem;
            }
            a {
                text-decoration: none; 
                color: #fff;
            }
        }
        .entry-meta {
            padding: 0 2rem 2rem;
        }
    }
    .entry-content {
        border-bottom: none;
        padding: 0 2rem;
    }
    .author-block {
        width: 100%;
        clear: both;
        padding: 1rem;
        color: #313131;
        background-color: #d0d0d0;
        margin-bottom: 0;
        img.avatar {
            float: left;
            margin-right: 10px;
            max-width: 20%;
        }
        .author-info {
            float: left;
            max-width: 75%;
            .byline {
                font-weight: bold;
                margin-bottom: 2px;
            }
            .posted-on {
                margin-bottom: 2px;
            }
        }
    }
}


.author-block {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    img.avatar {
        float: left;
        margin-right: 10px;
    }
    .author-info {
        float: left;
        .byline {
            font-weight: bold;
            margin-bottom: 2px;
        }
        .posted-on {
            margin-bottom: 2px;
        }
    }
}



footer.entry-footer span {
    clear: both;
}





.serm-title {
	color: $lt-blue;
    font-family: "museo-slab",serif;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    text-align: center;
}

.sermon-archives h2 {
	text-align: left;
}

.sermon-info {
	margin-top:6rem;
}

@media screen and (max-width: 755px) {
.sermon-archives .su-column {
    margin: 0 0 0.05em !important;
}
}