.social-nav {
	@extend .footer-menu;
	ul {
		li {
			a {
				color: #555555;
				font-size: 2em;
				&:hover {
					color: $lt_blue;
				}
			}
		}
	}
}

a .hidden-label {
    font-size: 0;
    height: 1px;
    overflow: hidden;
}
