.su-spoiler-title {
	color: $purple;
    font-size: 1.25em;
    font-weight: bold;
}


.su-tabs.my-custom-tabs { 
    background-color: $purple; 
    .su-tabs-nav span { 
        font-size: 1.3em; 
        color: #fff; 
       &:hover { 
            background-color: #fff; 
            color: $purple; 
            }
        &.su-tabs-current { 
            background-color: #fff; 
            color: $purple; 
            }
    }
    .su-tabs-pane {
    padding: 1em;
        font-size: inherit;
    background-color: #FFF;
    }
}

.next-steps .su-tabs.my-custom-tabs { 
    .su-tabs-nav span { 
        width: 24%;
        text-align: center;
        margin-right: 1%;
        padding: 15px;
    }
}


.charis .su-tabs.my-custom-tabs { 
    background-color: #a41d34; 
    .su-tabs-nav span { 
	    &:hover { 
            color: #a41d34;
            }
        &.su-tabs-current { 
            color: #a41d34; 
            }
    }
}
